<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BuddhismGod.plist
   TXBZSMAPP

   Created by shaokai lin on 2018/5/9.
   Copyright (c) 2018年 厦门天象文化传播有限公司. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
