<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gongguo</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>菠萝</string>
				<key>image</key>
				<string>boluo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橙子</string>
				<key>image</key>
				<string>chengzi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佛头果</string>
				<key>image</key>
				<string>fotouguo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桂圆</string>
				<key>image</key>
				<string>guiyuan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>荔枝</string>
				<key>image</key>
				<string>lizhi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芒果</string>
				<key>image</key>
				<string>mangguo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苹果</string>
				<key>image</key>
				<string>pingguo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>葡萄</string>
				<key>image</key>
				<string>putao</string>
			</dict>
			<dict>
				<key>name</key>
				<string>人参果</string>
				<key>image</key>
				<string>renshenguo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>松子</string>
				<key>image</key>
				<string>songzi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五果</string>
				<key>image</key>
				<string>wuguo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西瓜</string>
				<key>image</key>
				<string>xigua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>香蕉</string>
				<key>image</key>
				<string>xiangjiao</string>
			</dict>
			<dict>
				<key>name</key>
				<string>樱桃</string>
				<key>image</key>
				<string>yingtao</string>
			</dict>
			<dict>
				<key>name</key>
				<string>枣</string>
				<key>image</key>
				<string>zao</string>
			</dict>
		</array>
		<key>info</key>
		<string>表示成果。果不是供给诸天上圣吃的，是教我们看到果时，就能想起“希望得到什么样的果报，就应该要修什么样的原因”。万事有因才有果，果代表圆满，是圆满功德之果。</string>
	</dict>
	<key>gonghua</key>
	<dict>
		<key>info</key>
		<string>花代表因，代表悠德。供花是给人们自己看的，提醒人们平时一定要注意修德。花开了以后，只有常修善因，将来才能够得到好的果报</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>百合花</string>
				<key>image</key>
				<string>baihehua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>彼岸花</string>
				<key>image</key>
				<string>bianhua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>地金莲</string>
				<key>image</key>
				<string>dijinlian</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黄姜花</string>
				<key>image</key>
				<string>huangjianghua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黄缅桂</string>
				<key>image</key>
				<string>huangmiangui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鸡蛋花</string>
				<key>image</key>
				<string>jidanhua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>菊花</string>
				<key>image</key>
				<string>juhua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>兰花</string>
				<key>image</key>
				<string>lanhua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>曼陀罗花</string>
				<key>image</key>
				<string>mantuoluohua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>梅花</string>
				<key>image</key>
				<string>meihua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牡丹花</string>
				<key>image</key>
				<string>mudanhua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>青莲</string>
				<key>image</key>
				<string>qinglian</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山玉兰</string>
				<key>image</key>
				<string>shanyulan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水仙花</string>
				<key>image</key>
				<string>shuixianhua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桃花</string>
				<key>image</key>
				<string>taohua</string>
			</dict>
			<dict>
				<key>name</key>
				<string>文殊兰</string>
				<key>image</key>
				<string>weizhulan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>竹叶</string>
				<key>image</key>
				<string>zhuye</string>
			</dict>
		</array>
	</dict>
	<key>lazhu</key>
	<dict>
		<key>info</key>
		<string>蜡烛燃烧自己，照亮别人，给世人带来光明。以物拟人，蜡烛牺牲自己，利益别人。我们在神前点蜡烛，就是提示人们要学习蜡烛的精神，舍己为人，无私奉献，把自己的一切无条件地奉献给众生，最终功德智慧圆满，这是供奉蜡烛的意义所在。</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>普通蜡烛</string>
				<key>image</key>
				<string>putonglazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>福如东海蜡烛</string>
				<key>image</key>
				<string>furudonghailazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>寿比南山蜡烛</string>
				<key>image</key>
				<string>shoubinanshanlazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四季平安蜡烛</string>
				<key>image</key>
				<string>sijipinganlazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>恭喜发财蜡烛</string>
				<key>image</key>
				<string>gongxifacailazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>生意兴隆蜡烛</string>
				<key>image</key>
				<string>shengyixinglonglazu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>学业进步蜡烛</string>
				<key>image</key>
				<string>xueyejinbulazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吉祥富贵蜡烛</string>
				<key>image</key>
				<string>jixiangfuguilazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>财源广进蜡烛</string>
				<key>image</key>
				<string>caiyuanguanjinlazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金玉满堂蜡烛</string>
				<key>image</key>
				<string>jinyumantanglazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>福禄寿喜蜡烛</string>
				<key>image</key>
				<string>fulushouxilazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>转运开光蜡烛</string>
				<key>image</key>
				<string>zuanyunkaiguanglazhu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佛光普照蜡烛</string>
				<key>image</key>
				<string>foguangpuzhaolazhu</string>
			</dict>
		</array>
	</dict>
	<key>shengshui</key>
	<dict>
		<key>info</key>
		<string>水代表心境。水很纯净，代表心要清净。水不起波浪是平的，代表平等。所以供养这杯清水，看到它就想到我们的的心也要像水一样清净、平等。这是供具里面最最重要的，你甚至甚至可以不烧香、不点蜡烛，也没有鲜花和水果，但是不能不供养一杯清水，看到水就要想到自己在一切境缘当中，要知道修清净心，平等心。</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>普通圣水杯</string>
				<key>image</key>
				<string>chashui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>纯铜莲花圣水杯</string>
				<key>image</key>
				<string>chuntonglianhuashengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>符咒圣水杯</string>
				<key>image</key>
				<string>fuzoushengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>功德圣水杯</string>
				<key>image</key>
				<string>gongdeshengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>官运圣水杯</string>
				<key>image</key>
				<string>guanyunshengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>和谐圣水杯</string>
				<key>image</key>
				<string>hexieshengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>莲花圣水杯</string>
				<key>image</key>
				<string>lianhuashengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>驱邪圣水杯</string>
				<key>image</key>
				<string>quxieshengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>送子圣水杯</string>
				<key>image</key>
				<string>songzishengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桃花圣水杯</string>
				<key>image</key>
				<string>taohuashengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长寿圣水杯</string>
				<key>image</key>
				<string>changshoushengshui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>招财圣水杯</string>
				<key>image</key>
				<string>zhaocaishengshui</string>
			</dict>
		</array>
	</dict>
	<key>xiangtan</key>
	<dict>
		<key>info</key>
		<string>香代表信香，是一种信号，用来跟诸天上圣传递信息、感应的。经书有云：仙境难通以香为信。古时候，信息不发达，用烽火来传递消息，信香也是取这个意思。玄门上香文讲；妙洞真香，灵宝慧香超三界香，三柱香腾空供养，上界云府高真，中界岳渎威灵,下界水府仙官等三界诸神,香云达信.当我们看到香烟、闻到香味，就应想到自己要修道、养德、定慧。</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>超三界香</string>
				<key>image</key>
				<string>chaosanjie</string>
			</dict>
			<dict>
				<key>name</key>
				<string>道香</string>
				<key>image</key>
				<string>daoxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>德香</string>
				<key>image</key>
				<string>dexiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>灵宝慧香</string>
				<key>image</key>
				<string>lingbaohui</string>
			</dict>
			<dict>
				<key>name</key>
				<string>妙洞真香</string>
				<key>image</key>
				<string>niaodongzhen</string>
			</dict>
			<dict>
				<key>name</key>
				<string>平安香</string>
				<key>image</key>
				<string>pinganxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>丹檀香</string>
				<key>image</key>
				<string>danchanxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龙脑香</string>
				<key>image</key>
				<string>longnaoxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五行催财增运神香</string>
				<key>image</key>
				<string>wuxingcuicai</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清净香</string>
				<key>image</key>
				<string>qingjingxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>求子香</string>
				<key>image</key>
				<string>qiuzixiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>无为香</string>
				<key>image</key>
				<string>wuweixiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消灾香</string>
				<key>image</key>
				<string>xiaozhaixiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>增财香</string>
				<key>image</key>
				<string>zengcaixiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>增福香</string>
				<key>image</key>
				<string>zengfuxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>增缘香</string>
				<key>image</key>
				<string>zengyuanxiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>智慧香</string>
				<key>image</key>
				<string>zhihuixiang</string>
			</dict>
			<dict>
				<key>name</key>
				<string>自然香</string>
				<key>image</key>
				<string>ziranxiang</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
