<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taoism</key>
	<array>
		<dict>
			<key>image</key>
			<string>zudashi</string>
			<key>info</key>
			<string>张道陵为道教创始者,尊称祖天师、三天扶教大法师。一生符见长,除妖伏魔,着灵异;升仙后,掌管三界鬼神,为代帝王所崇率。天师世家道脉传承,明太祖赐其「永掌天下道教事」」,一统三山符。正一道增尊奉圣像,建设天师增,民众则建天师宫崇祀</string>
			<key>blessType</key>
			<string>顺顺利利</string>
			<key>indexId</key>
			<string>0</string>
			<key>name</key>
			<string>祖天师</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ziwei</string>
			<key>info</key>
			<string>紫微大帝是道教四御之一
全称为中天紫微北极太皇大帝”,紫微又叫紫微垣垣、紫宫、紫微星,位处三垣之中的中垣。地位仅次于玉皇大帝。道教认为北极星是永远不动的星,位于上天的最中间,位置最高,最为尊贵,是&quot;众星之主”,因此对他极为尊崇。紫微大帝的职能是:执掌天经地纬,以率日月星辰和山川请神及四时节气等自然现象,能呼风唤雨,役使雷电鬼神。如《九天应元雷声普化天尊玉枢宝经集注》卷上日:&quot;北极紫微大帝掌握五雷也。“紫微大帝的神诞日为农历的四月十八日。</string>
			<key>blessType</key>
			<string>事业</string>
			<key>indexId</key>
			<string>1</string>
			<key>name</key>
			<string>紫微大帝</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>wucaishen</string>
			<key>info</key>
			<string>武财神赵元帅,即财神爷赵公明,因道教神话中封正一玄坛元帅,故又名赵玄坛。其名始见于晋干宝《搜神记》及梁陶弘景《真诰》),本为五方神,后传说他能保病禳灾,主持公道,买卖得利,乃成为财神。</string>
			<key>blessType</key>
			<string>财运</string>
			<key>indexId</key>
			<string>2</string>
			<key>name</key>
			<string>武财神赵元帅</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>yuelao</string>
			<key>info</key>
			<string>月下老人,简称月老,尊称为月老特、月老公,是道教的神征之一,为掌管男女婚姻之仙,牵红绳指明嫁对象。相传为媒神”。形象常被塑造成白胡多须,脸泛红光;左手持着姻绿簿,右手挂著拐杖</string>
			<key>blessType</key>
			<string>婚姻</string>
			<key>indexId</key>
			<string>3</string>
			<key>name</key>
			<string>月老</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>doulao</string>
			<key>info</key>
			<string>斗姥天是道教信春的女神。是北斗众星之母,故名斗姥。原为龙汉年间周御王之妃,名紫光夫人。生九子,初生二子为天皇大帝、紫徽大帝;后生七子为:贪狼、巨门、禄存、文曲、廉贞、武曲、破军七星。四头八臂乘七家之车,现紫金巨光,大施法力,而扶危护驾。以能消灾解厄,保命延生也。号日:圣德巨光天后,圆明道姥天</string>
			<key>blessType</key>
			<string>好运</string>
			<key>indexId</key>
			<string>4</string>
			<key>name</key>
			<string>斗姥天尊</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>nanji</string>
			<key>info</key>
			<string>南极仙翁为元始天王九子,主管长寿,又叫寿星”,是福、禄、寿三星中的寿星老人,是一身平民装扮,眉善目,和可亲</string>
			<key>blessType</key>
			<string>健康长寿</string>
			<key>indexId</key>
			<string>5</string>
			<key>name</key>
			<string>南极仙翁</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>guiren</string>
			<key>info</key>
			<string>天乙贵人,四柱神触之一一。甲戊见牛羊,乙已鼠猴乡,丙丁了猪鸡位,王癸兔蛇藏,庚辛違虎马,此是贵人方。天乙者,乃天上之神,在紫微垣、间阖门外,与太乙井列,事天皇大帝,下游三辰,家在己丑斗牛之次,出乎己未井鬼之含,执玉衡较量天人之事,名日在乙也。其神最尊贵,所至之处,一切凶煞隐然而避</string>
			<key>blessType</key>
			<string>贵人</string>
			<key>indexId</key>
			<string>6</string>
			<key>name</key>
			<string>天乙贵人</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>wencang</string>
			<key>info</key>
			<string>文昌帝君是主管文运的神仙,今行为管理人间读书和考试功名。古时,文章写得好而被朝廷录用为大官的人被营为是文昌帝君下凡。一般民间认为民间出现过的文曲星包括:比于、范仲淹、文天祥、许仙的儿子许仕林供奉此仙可聪明伶俐,学业进步,考取功名</string>
			<key>blessType</key>
			<string>学业</string>
			<key>indexId</key>
			<string>7</string>
			<key>name</key>
			<string>文昌帝君</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>guandi</string>
			<key>info</key>
			<string>关帝一直是历来民间祭祀的对象,被尊称为”关公”或&quot;关圣帝君&quot;;又经历代朝廷褒封,清代时被奉为&quot;忠义神武灵佑仁勇威显关圣大帝”,崇为武圣&quot;,与&quot;文圣&quot;孔子齐名。本为道教的护法四帅之一,如今道教将他作为神来供奉</string>
			<key>blessType</key>
			<string>平安</string>
			<key>indexId</key>
			<string>8</string>
			<key>name</key>
			<string>关帝</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>fushen</string>
			<key>info</key>
			<string>民间传说福神原为岁星,即木星,后逐渐人格化,一说源于太平道所祀三官中的天官,演化为天官赐福之说。福星手抱小儿,象征有子万事足的福气、多福避准、吉星高照、福大财多、寿命长。在家供奉一般放置在客厅,可增添福气、财运、寿元。</string>
			<key>blessType</key>
			<string>佑家</string>
			<key>indexId</key>
			<string>9</string>
			<key>name</key>
			<string>福神</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>songzi</string>
			<key>info</key>
			<string>送子娘娘双称“注生娘娘”，是众神之中负责掌管生子的神仙。神像安详端坐，怀抱娃娃。</string>
			<key>blessType</key>
			<string>送子</string>
			<key>indexId</key>
			<string>10</string>
			<key>name</key>
			<string>送子娘娘</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>taiyi</string>
			<key>info</key>
			<string>东极青华大帝又称太乙救苦天幕。太乙救苦天幕有&quot;导声苦天尊”、十方救苦天尊“等号,简称救苦天算。相传其为玉皇大帝二侍者之一,配合玉帝统御万类。是我国道教继承上古先民信仰而来。道教说他由青玄上帝神化而来,誓愿救度一切众生,所以系化救苦天尊以度世</string>
			<key>blessType</key>
			<string>除灾</string>
			<key>indexId</key>
			<string>11</string>
			<key>name</key>
			<string>太乙救苦天尊</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>luxing</string>
			<key>info</key>
			<string>禄星,或称子星、跳加官等,为中国神话中的财神,与福星、寿星并称为“福禄寿&quot;的天神,与寿星皆立于福星之侧。禄星是上天主管功名利禄的星官</string>
			<key>blessType</key>
			<string>仕途</string>
			<key>indexId</key>
			<string>12</string>
			<key>name</key>
			<string>禄星</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>niuwang</string>
			<key>info</key>
			<string>牛王即“牛神”,乃农家敬奉的保护耕牛神，至今泛为家禽守护神仙。</string>
			<key>blessType</key>
			<string>护禽兽</string>
			<key>indexId</key>
			<string>13</string>
			<key>name</key>
			<string>牛王</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>yuhuang</string>
			<key>info</key>
			<string>道教认为玉皇为众神之王,在道教神阶中地位极高,神权最大。他布天之德,造化万物,济度群生,权衡三界,统御万灵,而无量度人,为天界至尊之神,万天帝王。</string>
			<key>blessType</key>
			<string>祈福延寿</string>
			<key>indexId</key>
			<string>14</string>
			<key>name</key>
			<string>玉皇大帝</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>xuantian</string>
			<key>info</key>
			<string>玄天上帝,即真武大帝,或真武、北极真君、元天上帝。真武是古代汉族神话传说中的北方之神玄武,宋时避讳改玄为真,称真武帝,宋朝道教的北方上帝,明朝天子的保护神</string>
			<key>blessType</key>
			<string>驱除妖魔</string>
			<key>indexId</key>
			<string>15</string>
			<key>name</key>
			<string>玄天上帝</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>mazu</string>
			<key>info</key>
			<string>妈祖,以中国东南沿海为中心的海神信仰,又称天上圣母、天后、天后娘娘、天妃、天妃娘娘、湄洲娘妈等。</string>
			<key>blessType</key>
			<string>保佑船舶</string>
			<key>indexId</key>
			<string>16</string>
			<key>name</key>
			<string>妈祖</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>yaochi</string>
			<key>info</key>
			<string>王母娘娘&quot;或称瑶池金母是道教上古神灵,也是中国神话中「的一位至高无上的女神。汉族民间遂以王母娘娘为长生不老的象征</string>
			<key>blessType</key>
			<string>健康长寿</string>
			<key>indexId</key>
			<string>17</string>
			<key>name</key>
			<string>瑶池金母</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>taisui</string>
			<key>info</key>
			<string>太岁是太岁神的简称,乃道教值年神灵之一,一年一换,当年轮值的太岁神叫值年太岁(流年太岁)。太岁神在所有神中,影响力最大,素有年中天子之称。,掌管人世间一年的吉凶祸福。每年都有冲犯太岁的生肖,如属该生肖者,需要祭祀太岁神一年,以求太岁神保佑自己消灾免祸</string>
			<key>blessType</key>
			<string>水灾免祸</string>
			<key>indexId</key>
			<string>18</string>
			<key>name</key>
			<string>太岁星君</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>zhaojun</string>
			<key>info</key>
			<string>灶君司命俗称灶君。掌管人们饮食赐予生活上的便利外。处君是玉皇大帝派到人间考察一家善恶之职的官。灶君左右随待两神,一棒善、一棒恶锯,随时将一家人的行为记最保存于罐中,年终时上天述职喜一家一年善恶,以定来年吉凶。祭处神象征着祈求降福免灾的意思</string>
			<key>blessType</key>
			<string>掌管全家祝福</string>
			<key>indexId</key>
			<string>19</string>
			<key>name</key>
			<string>灶君司命</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>wencai</string>
			<key>info</key>
			<string>財帛星君中国民间信仰的一位财神,属于文财神,又称增福相公,增福财神,福善平施公。财帛星君李诡祖是一位身着锦衣,腰扎玉带,捧着一只金元宝,相貌厚重,乃富贵无限之相的官员。文财神主管智慧财,最适合白领人土供奉</string>
			<key>blessType</key>
			<string>智慧财</string>
			<key>indexId</key>
			<string>20</string>
			<key>name</key>
			<string>文财神</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>huangdaxian</string>
			<key>info</key>
			<string>大仙得道后易名赤初平,号黄大仙,故号称&quot;赤松仙子&quot;。中国民间流传其法力高强,能够点石成金。传说因为炼丹得道、羽化登天,而且以药方”度人成仙,得到人们的信仰和崇祀。香港著名的黄大仙祠就是供奉他的,终日香火不断。</string>
			<key>blessType</key>
			<string>有求必应</string>
			<key>indexId</key>
			<string>21</string>
			<key>name</key>
			<string>黄大仙</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>fucai</string>
			<key>info</key>
			<string>明初富沈万三传说拥有聚宝盆财可敌国甚至能和朱元璋竟筑南京城被奉作富财神。富财神主要讲究以财生财,最适合投资、理财人土供率</string>
			<key>blessType</key>
			<string>以财生财</string>
			<key>indexId</key>
			<string>22</string>
			<key>name</key>
			<string>富财神</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tidigong</string>
			<key>info</key>
			<string>土地公又称福德正神,在民间,土地公也被视为财神与福神,民间相信「有土断有财」,因此土地公被商家为守护神。据说他还能使五谷丰收,因此,很多人就把土地公迎进家里祭拜</string>
			<key>blessType</key>
			<string>家宅平安</string>
			<key>indexId</key>
			<string>23</string>
			<key>name</key>
			<string>土地公</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>piancai</string>
			<key>info</key>
			<string>最早到东南亚经商,被称作「大伯公」(土地公)的华侨苏福禄,由於开偏远地区之利,被当作职司「偏」」远則财高的偏财神。偏财神主管运气财。主管賭运,彩票类财运。</string>
			<key>blessType</key>
			<string>运气财</string>
			<key>indexId</key>
			<string>24</string>
			<key>name</key>
			<string>偏财神</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>chegong</string>
			<key>info</key>
			<string>车公又称车大元帅,相传车公为南宋末年时的一名勇将,因平江南之乱有功,被封为大元帅。后来,蒙古大军犯境,宋军无力反抗,宋帝昺南下避准,车公一直护驾到香港,在途中不幸病逝。乡民为念他生前贞忠英勇,便为他立庙供奉</string>
			<key>blessType</key>
			<string>英勇神武</string>
			<key>indexId</key>
			<string>27</string>
			<key>name</key>
			<string>车公</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>longmu</string>
			<key>info</key>
			<string>传说龙母乃是一名姓温名的女子,温因为蒙龙和利泽天下被百姓尊称为龙母。成为造福百姓的神女,深受崇拜。龙母的高尚品德和无私的贡献,被营为&quot;母仪龙德“、西江神源&quot;之尊称</string>
			<key>blessType</key>
			<string>仁慈博爱</string>
			<key>indexId</key>
			<string>26</string>
			<key>name</key>
			<string>龙母娘娘</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>diguan</string>
			<key>info</key>
			<string>清虚大帝,又名罪地官,地官名为中元二品救罪地官。地官由元洞混灵之气和极黄之精结成,总主五帝五岳诸地神仙。每七月十五日,即来人间,校戒罪福,为人。道经称:天官赐福,地官教罪,水官解厄。</string>
			<key>blessType</key>
			<string>赦罪</string>
			<key>indexId</key>
			<string>27</string>
			<key>name</key>
			<string>地官大帝</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>shuiguan</string>
			<key>info</key>
			<string>洞阴大帝,又名解厄水官,水官名为下元三品解厄水官。水官由风泽之气和晨浩之精结成,总主水中请大神仙。每違十月十五日,即来人间,校戒罪福,为人消灾。道经称;天官赐福,地官教罪,水官解厄</string>
			<key>blessType</key>
			<string>解厄</string>
			<key>indexId</key>
			<string>28</string>
			<key>name</key>
			<string>水官大帝</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>jiangwu</string>
			<key>info</key>
			<string>姜武大将军,成戌太岁(2018年)。太岁是太岁神的简称,乃道教值年神灵之一,一年一換,当年轮值的太岁神叫值年太岁(流年太岁)。太岁神在所有神中,影响力最大,素有年中天子之称,掌管人世间一年的吉凶祸福。每年都有冲犯太岁的生肖,如属于今年犯太岁者,需要祭祀太岁神一年,以求太岁神保佑,消灾免祸</string>
			<key>blessType</key>
			<string>消灾免祸</string>
			<key>indexId</key>
			<string>29</string>
			<key>name</key>
			<string>姜武大将军</string>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
	<key>buddhism</key>
	<array>
		<dict>
			<key>image</key>
			<string>darirulai</string>
			<key>info</key>
			<string>大日如来(梵文: Mahavairocana),释迦牟尼佛的三身之一。是表示绝对真理的佛身。在汉译中,又有摩词此卢遮那毗卢遮那、遍一切处、光明遍照等名号,是密教最根本的本尊,在金刚界与胎藏界两部密教大法中,都是法身如来,是法界体性自身,是实相所现的根本佛陀</string>
			<key>blessType</key>
			<string>光明、理智</string>
			<key>indexId</key>
			<string>0</string>
			<key>name</key>
			<string>大日如来</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enituofo</string>
			<key>info</key>
			<string>阿弥陀佛(梵文: Amitabha),又名无量佛、无量光佛、无量寿佛等。大乗经載,阿弥陀佛在过去久远劫时曾立大愿,建立西方净土,广度无边众生,成就无量庄严功德,为大乘佛教所广为禁敬和弘扬。大乘佛经主要如《无量寿经》、《阿弥陀
经》、《观无量寿佛经》,对阿弥陀佛及其西方极乐世界均有详述。大乘佛教流传之地,如如中中国、日本等大乘教区,阿弥陀佛信仰也尤为繁盛和重要。而汉传佛教的净士宗,则完全以往生阿弥陀佛的西方净士作为专修的法门。</string>
			<key>blessType</key>
			<string>光明、智慧</string>
			<key>indexId</key>
			<string>1</string>
			<key>name</key>
			<string>阿弥陀佛</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>shijiamouni</string>
			<key>info</key>
			<string>佛教的创立者释牟尼(佛陀),是古代中印度毗罗卫国的释迦族人,他存在于西元前第一个干年的中期。此时商品贸易的素荣促使了刹帝利阶层的起,构成阻碍的传统婆罗门教权威地位被削弱,思想界活跃着包括佛教在内的沙门思潮。释迦牟尼的生平,没有引起早期三藏编者的重视,他们只是尽量详细记录导师的言词;更详尽的叙述和更传奇的故事在后来才被精心编造出来。关于佛陀的形象,相对可的是一个基本轮廓。他成长于富裕的环境,娶妻生子后,大概29岁时出家;所学的禅定和苦行都无法解决问题;约35岁时得到佛陀的自觉。余生的岁月,他的足迹遍布恒河流域,向各阶层说法教化。他对外道思想所做的扬弃,纠正了时代文明的某些偏失,也维护了刹帝利的阶级利益,使他被尊称为释迦族的圣人。</string>
			<key>blessType</key>
			<string>慈悲、清净</string>
			<key>indexId</key>
			<string>2</string>
			<key>name</key>
			<string>释迦牟尼佛</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>guanyinpusha</string>
			<key>info</key>
			<string>观世音善萨(文: Avalokitesvara),观世音是鸬摩罗什的旧译,玄装新译为观自在,中国每略称为观音。观世音萨是佛教中悲和智的象征,无论在大乘佛教还是在民间信仰,都具有极其重要的地位。以观世音菩萨为主导的大热悲精神,被视为大乘佛教的根本。佛经上说,观世音是过去的正法明如来所现化,他在无量国土中,以菩萨之身到处寻声救苦。观世音与阿弥陀佛有着特特殊的关系。他是西方三圣中的一,也是一生补处的法身大士,是继承阿弥陀佛位的菩萨,而且还有说观世音就是阿弥陀佛的化身。观世音菩萨具有平等无私的广大悲愿,当众生遇到任何的困准和苦痛,如能至诚称念观世音菩萨,就会得到菩萨的救护。而且,观世音善萨最能适应众生的要求,对不同的众生,便现化不同的身相,说不同的法门。在佛教的众多菩萨中,观世音菩萨也最为民间所熟知和信但。</string>
			<key>blessType</key>
			<string>平等、慈悲</string>
			<key>indexId</key>
			<string>3</string>
			<key>name</key>
			<string>观音菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>wenzhupus</string>
			<key>info</key>
			<string>文殊善萨(梵文: Manju),音译作文殊师利、曼殊室利、满祖室哩,意译为妙德、妙吉祥、妙乐、法王子。又称文殊师利真、霭童文殊善萨。为佛教四大善萨之一
与般若经典关系甚深,故称为大智文殊师利普萨。或谓其为已成之佛,如首楞严三味经卷下载,过去久远劫有龙种上如来,于南方平等世界成无上正等觉,寿四百四十万岁而入涅盘,彼佛即今之文殊师利法王子。或谓其为实在人物,如文殊殊师利般涅果经谓,此菩萨生于含卫国多罗聚落梵德婆罗门家,生时屋宅化如莲花,由其母之右胁出生,后至释迦牟尼佛所出家学道。此外,亦有说文殊菩萨为诸佛普萨之父母者。一般称文殊师利菩,与普贤萨同为释迦佛之胁侍,分别表示佛智、佛思之别</string>
			<key>blessType</key>
			<string>智慧、理性</string>
			<key>indexId</key>
			<string>4</string>
			<key>name</key>
			<string>文殊菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>puxianpus</string>
			<key>info</key>
			<string>普贤菩萨摩诃萨是大乘菩萨行的大愿大行的代表，象征着中国大乘佛教的精神。在《华严经》中明示，一切佛法归于毗卢遮那佛及文殊菩萨、普贤菩萨二大士，三者并称“华严三圣”，其中普贤菩萨代表一切菩萨行德本体。善财以十信后心，受文殊教，遍参知识，随闻随证。末后至普贤菩萨所，蒙其加被开示，所证与普贤等，与诸佛等。普贤为其称赞如来胜妙功德，令其发十大愿王，以此功德，回向往生西方极乐世界，以期圆满佛果。并劝尽华藏世界海诸菩萨，一致同行，求生西方。普贤菩萨代表一切诸佛的理德与定德,与文殊菩萨摩诃萨的智德证德相对,两者并为无上释尊的两大胁侍。他的坐骑为六牙白象，六牙代表六种清净，四足代表四种功德。</string>
			<key>blessType</key>
			<string>实践、实行</string>
			<key>indexId</key>
			<string>5</string>
			<key>name</key>
			<string>普贤菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>yaoshifo</string>
			<key>info</key>
			<string>药师佛全称药师琉璃光如来又名药师如来（梵文：Bhaiṣajyaguru），也有人称大医王佛、医王善逝或消灾延寿药师佛，为佛教东方净琉璃世界的教主。为药师本用以比喻能治众生贪、嗔、痴的医师。在中国佛教一般用以祈求消灾延寿，药师琉璃光佛也叫“饮光如来”据佛教传说，药师佛行菩萨道时，所发之十二大愿（又称十二上愿）。每愿都为了满众生愿，拔众生苦，医众生病，成佛后，他始终实践着大愿，一般人都称念他为“消灾延寿药师佛”。</string>
			<key>blessType</key>
			<string>健康、快乐</string>
			<key>indexId</key>
			<string>6</string>
			<key>name</key>
			<string>药师佛</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>nilepus</string>
			<key>info</key>
			<string>弥勒佛，生于南天竺婆罗门家，与释迦牟尼佛是同时代人。后来随释迦出家，成为佛弟子，他在释迦入灭之前先行入灭，为一生补处菩萨，生于兜率天内院。之后因缘成熟时，从兜率天宫下生人间，绍释迦如来之佛位，到那时，娑婆世界阎浮提有翅头末城,其王名儴佉的,弥勒届时将托生于此城中一个名叫修梵摩的大臣家中,降生、出家、成道、说法,其经历一如释迦牟尼佛。于华林园龙华树下成正觉,以三会说法化度无量无边的众生。初过去之弥勒，值佛而修得慈心三昧，故称慈氏。乃至成佛，犹立是名也（所以虽然名义上称之为“弥勒佛”，实际上其仍为菩萨）。</string>
			<key>blessType</key>
			<string>喜悦、包容</string>
			<key>indexId</key>
			<string>7</string>
			<key>name</key>
			<string>弥勒菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dizangpus</string>
			<key>info</key>
			<string>地藏菩萨（梵语：Ksitigarbha），因其“安忍不动，犹如大地，静虑深密，犹如秘藏”，所以得名。佛典载，地藏菩萨在过去世中，曾经几度救出自己在地狱受苦的母亲；并在久远劫以来就不断发愿要救度一切罪苦众生尤其是地狱众生。所以这位菩萨同时以“大孝”和“大愿”的德业被佛教广为弘传。也因此被普遍尊称为“大愿地藏王菩萨”，并且成为了汉传佛教的四大菩萨之一。唐朝来华求法的地藏比丘被认为是地藏菩萨的化身。这位出身新罗王族的僧人所在的安徽九华山也被视为地藏菩萨的应化道场，并因此成为了中国佛教四大名山之一，千百年来香火鼎盛。</string>
			<key>blessType</key>
			<string>孝敬、宝藏</string>
			<key>indexId</key>
			<string>8</string>
			<key>name</key>
			<string>地藏菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dashizhipus</string>
			<key>info</key>
			<string>大势至菩萨，又称得大势菩萨或大精进菩萨，简称为势至。大势至是梵文Mahās-thāmaprāpta的意译。据《悲华经》卷二称，删提岚世界的无诤念王有一千个儿子，长子名不眴，次子名尼摩。后无诤念王成佛为阿弥陀如来，不眴太子为观世音菩萨。而尼摩太子则成了大势至菩萨。菩萨跟随佛学法修菩萨行，经过许多阶段之后，才可成佛。菩萨中经历所有的阶段达到最高位的菩萨，就是一生补处菩萨。只要结束菩萨生涯，在下一阶段的生涯中就定可成佛。若以三尊的形式表现佛陀时，必有一生补处菩萨随侍左右，且组合是一定的。阿弥陀佛其左右胁侍的就是观世音菩萨和大势至菩萨，三位合称“西方三圣”或“阿弥陀三尊”。大势至菩萨在中国民间信仰中的影响要远逊于观世音菩萨。大势至菩萨几乎没有单独供奉的。其形象据《观无量寿经》载，身放紫金色光，法相与装饰皆同于观音菩萨。二者的主要区别是：大势至菩萨头上的宝冠有定瓶为标志，而观音菩萨头上的宝冠则以一小化佛为标志。作为阿弥陀来迎时的随侍，观音菩萨手拿金莲台，大势至菩萨则合掌。</string>
			<key>blessType</key>
			<string>喜舍、定相</string>
			<key>indexId</key>
			<string>9</string>
			<key>name</key>
			<string>大势至菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>budongzunpus</string>
			<key>info</key>
			<string>不动明王，即不动尊菩萨（梵文：Acalanatha），意为不动尊或无动尊，教界称为“不动明王”，亦谓之不动使者。“不动”，乃指慈悲心坚固，无可撼动，“明”者，乃智慧之光明，“王”者，驾驭一切现象者。依密教三轮身之分类而总判，不动明王为一切诸佛教令轮身，故又称为诸明王之王，五大明王之主尊。就金刚胎藏两部而分别其德，五方佛，各有三轮身。中央毗卢遮那佛为自性轮身，金刚般若蜜多菩萨为正法轮身，不动明王为教令轮身。所以不动明王是奉大日如来教令，示现忿怒形降伏一切恶魔之大威势明王，他的身相是对那些顽固不化、执迷不误、受魔障遮蔽的众生而变化的，以喝醒众生和吓退魔障。不动明王其誓愿为“见我身者发菩提心，闻我名者断恶修善，闻我法者得大智能，知我心者即身成佛。”威力甚大，不动明王法像不论汉地佛教或藏传佛教，都重视修习本尊法门，又被称作大威力不动明王或常住金刚。</string>
			<key>blessType</key>
			<string>理性、智慧之光明</string>
			<key>indexId</key>
			<string>10</string>
			<key>name</key>
			<string>不动尊菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>weituopus</string>
			<key>info</key>
			<string>韦陀菩萨是佛的护法神（佛教中另外还有一位护法天神韦天将军），相传他姓韦名琨，是南方增长天王属下八大神将之一，位居32员神将之首（四大天王每人手下有八神将）。据说，在释迦佛入涅时，邪魔把佛的遗骨抢走，韦陀及时追赶，奋力夺回。因此佛教便把他作为驱除邪魔，保护佛法的天神。据说，在释迦佛入涅时，邪魔将佛的遗骨抢走，韦陀及时追赶，奋力夺回。因此佛教便把他作为驱除邪魔，保护佛法的天神。《大藏经》记载韦陀菩萨生于农历六月初三日，常在娑婆世界，拥护三洲大法轮。一十八世为将军身，五十四世为宰相，造亭接众一百二十所，开井一百三十口，造僧袈裟及碧树钵八百万，设僧尼浴池，砌大路四十八条，造佛寺四十八所。每世造旃檀香佛一千尊：高丈六尺，每尊佛前造金宝塔一座，各高七尺。每世造大藏经一百藏，一十七世为真童身。宝华琉璃佛会上成道，号普眼菩萨。释迦佛会上，名真童身菩萨，手执金刚宝杵，重八万四千斤。金刚不坏身，发大誓愿：佛佛出世，拥护佛法！头戴凤翅兜鍪盔，足穿乌云皂履，身披黄金锁子甲。若人愿书一张，乃至百千万张，无病延年，菩提心不退，功德无量矣！</string>
			<key>blessType</key>
			<string>无私、驱邪</string>
			<key>indexId</key>
			<string>11</string>
			<key>name</key>
			<string>韦陀菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>zhuntipus</string>
			<key>info</key>
			<string>准提菩萨汉译有准胝观音、准提佛母、七俱胝佛母等名。准提菩萨为显密佛教徒所知的大菩萨，在禅宗，则称之为天人丈夫观音。在中国佛教徒的心目中，准提菩萨是一位感应甚强、对崇敬者至为关怀的大菩萨，更是三世诸佛之母，他的福德智慧无量，功德广大、感应至深，满足众生世间、出世间的愿望，无微不至的守护众生。修学准提咒并没有任何限制，不分任何身份者，都可以修学诵持的，依此也可看出准提菩萨的慈悲。在《准提陀罗尼经》中记载，佛陀为了愍念未来的薄福恶业众生，所以入于准提三摩地，宣说过去七俱胝佛所说的准提咒。称为神咒之王的准提神咒，其加持威力不可思议，他的感应甚为疾速与强大，持诵者可祈求聪明智慧，辩论胜利、夫妇相互敬爱、使他人生起敬爱、增进人际关系、求得子嗣、延长寿命、治疗疾病、灭除罪业、祈求降雨、脱离拘禁以及远离恶鬼、恶贼之难等等，种种的祈愿，无不满足。</string>
			<key>blessType</key>
			<string>聪慧、和谐</string>
			<key>indexId</key>
			<string>12</string>
			<key>name</key>
			<string>准提菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>xukongzangpus</string>
			<key>info</key>
			<string>虚空藏（梵语 ākāśagarbha）菩萨摩诃萨，密号库藏金刚。汉译又作尊上虚空孕菩萨摩诃萨、虚空库菩萨摩诃萨、虚空光菩萨摩诃萨，是中国大乘佛教八大菩萨摩诃萨之一。虚空藏菩萨摩诃萨在无量菩萨中专主智慧、功德和财富。因尊上智慧、功德、财富如虚空一样广阔无边，并能满足世间一切如法持戒者的善求善愿，使无量无边众生获得无穷利益，故有此虚空藏圣名。</string>
			<key>blessType</key>
			<string>诚实、富有</string>
			<key>indexId</key>
			<string>13</string>
			<key>name</key>
			<string>虚空藏菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>qianshouguanyin</string>
			<key>info</key>
			<string>千手观音又称千手千眼观世音、千眼千臂观世音等，是我国民间信仰的四大菩萨之一。千手观音是是阿弥陀佛的左胁侍，与阿弥陀佛、大势至菩萨合称为“西方三圣”。千手观音为观音部果德之尊。“千”为无量及圆满之义，以“千手”表示大慈悲的无量广大，以“千眼”代表智慧的圆满无碍。根据《陀罗尼经》云：千手千眼观世音能利益安乐一切众生，随众生之机，相应五部五种法，而满足一切愿求。</string>
			<key>blessType</key>
			<string>慈悲、智慧圆满</string>
			<key>indexId</key>
			<string>14</string>
			<key>name</key>
			<string>千手观音菩萨</string>
			<key>type</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
