<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image</key>
		<string>wish_bisheng</string>
		<key>info</key>
		<string>纯白百合花纹，幸运之花寓意祝福祈愿，许愿树守护祈愿之人，博弈、比赛等运气开旺，事事顺利。</string>
		<key>title</key>
		<string>必胜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>image</key>
		<string>wish_xueye</string>
		<key>info</key>
		<string>保持头脑开阔，思想集中，轻松应对各种考试。</string>
		<key>title</key>
		<string>学业成就</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>image</key>
		<string>wish_fortunr</string>
		<key>info</key>
		<string>金黄底色，配黄金元宝，寓意财源滚滚，财之富有，许愿树保佑财运滚滚。</string>
		<key>title</key>
		<string>财运</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>image</key>
		<string>wish_boyup</string>
		<key>info</key>
		<string>绘以男孩，手舞足蹈，大口笑容，寓意健康快乐，无忧成长。</string>
		<key>title</key>
		<string>男孩成长</string>
	</dict>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>image</key>
		<string>wish_love</string>
		<key>info</key>
		<string>三生三世十里桃花，执子之手与子偕老，许愿树祝福爱情、姻缘来得更猛烈。</string>
		<key>title</key>
		<string>爱情</string>
	</dict>
	<dict>
		<key>type</key>
		<string>5</string>
		<key>image</key>
		<string>wish_pingan</string>
		<key>info</key>
		<string>中国红底色，绣上平安二字，寓意人财平安，得到许愿树的守护将好运常在。</string>
		<key>title</key>
		<string>平安</string>
	</dict>
	<dict>
		<key>type</key>
		<string>6</string>
		<key>image</key>
		<string>wish_hongyun</string>
		<key>info</key>
		<string>红色底色，配上花开四季图案，吉祥高贵，许愿树保护生活幸福，运气大发。</string>
		<key>title</key>
		<string>鸿运</string>
	</dict>
	<dict>
		<key>type</key>
		<string>7</string>
		<key>image</key>
		<string>wish_girlup</string>
		<key>info</key>
		<string>绘以女孩，手拿小花，甜蜜微笑，寓意健康快乐，无忧成长。</string>
		<key>title</key>
		<string>女孩成长</string>
	</dict>
	<dict>
		<key>type</key>
		<string>8</string>
		<key>image</key>
		<string>wish_job</string>
		<key>info</key>
		<string>工资加薪，事业壮大、生活更加美好！</string>
		<key>title</key>
		<string>事业</string>
	</dict>
	<dict>
		<key>type</key>
		<string>9</string>
		<key>image</key>
		<string>wish_chue</string>
		<key>info</key>
		<string>阿婆手拿鞋底作势要打小鬼，寓意厄运除尽，倒霉、小人统统不见。</string>
		<key>title</key>
		<string>除厄</string>
	</dict>
	<dict>
		<key>type</key>
		<string>10</string>
		<key>image</key>
		<string>wish_health</string>
		<key>info</key>
		<string>福如东海，寿比南山，寿桃寓意长寿，祈求身体健康无病无痛的活法，幸福长寿。</string>
		<key>title</key>
		<string>健康</string>
	</dict>
	<dict>
		<key>type</key>
		<string>11</string>
		<key>image</key>
		<string>wsh_shengchan</string>
		<key>info</key>
		<string>绘以宝宝图案，求子、安产，象征家庭美满，平安幸福，保佑孕妇平安，孩子顺利出生。</string>
		<key>title</key>
		<string>安产</string>
	</dict>
</array>
</plist>
