<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>甲子</string>
	<string>乙丑</string>
	<string>丙寅</string>
	<string>丁卯</string>
	<string>戊辰</string>
	<string>己巳</string>
	<string>庚午</string>
	<string>辛未</string>
	<string>壬申</string>
	<string>癸酉</string>
	<string>甲戌</string>
	<string>乙亥</string>
	<string>丙子</string>
	<string>丁丑</string>
	<string>戊寅</string>
	<string>己卯</string>
	<string>庚辰</string>
	<string>辛巳</string>
	<string>壬午</string>
	<string>癸未</string>
	<string>甲申</string>
	<string>乙酉</string>
	<string>丙戌</string>
	<string>丁亥</string>
	<string>戊子</string>
	<string>己丑</string>
	<string>庚寅</string>
	<string>辛卯</string>
	<string>壬辰</string>
	<string>癸巳</string>
	<string>甲午</string>
	<string>乙未</string>
	<string>丙申</string>
	<string>丁酉</string>
	<string>戊戌</string>
	<string>己亥</string>
	<string>庚子</string>
	<string>辛丑</string>
	<string>壬寅</string>
	<string>癸卯</string>
	<string>甲辰</string>
	<string>乙巳</string>
	<string>丙午</string>
	<string>丁未</string>
	<string>戊申</string>
	<string>己酉</string>
	<string>庚戌</string>
	<string>辛亥</string>
	<string>壬子</string>
	<string>癸丑</string>
	<string>甲寅</string>
	<string>乙卯</string>
	<string>丙辰</string>
	<string>丁巳</string>
	<string>戊午</string>
	<string>己未</string>
	<string>庚申</string>
	<string>辛酉</string>
	<string>壬戌</string>
	<string>癸亥</string>
</array>
</plist>
