<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1-1</key>
	<string>元旦</string>
	<key>2-10</key>
	<string>气象节</string>
	<key>2-14</key>
	<string>情人节</string>
	<key>3-3</key>
	<string>爱耳日</string>
	<key>3-8</key>
	<string>妇女节</string>
	<key>3-12</key>
	<string>植树节</string>
	<key>3-14</key>
	<string>圆周率日</string>
	<key>3-15</key>
	<string>消费者权益日</string>
	<key>3-22</key>
	<string>世界水日</string>
	<key>3-23</key>
	<string>气象日</string>
	<key>4-1</key>
	<string>愚人节</string>
	<key>4-5</key>
	<string>清明节</string>
	<key>4-22</key>
	<string>地球日</string>
	<key>4-26</key>
	<string>世界知识产权日</string>
	<key>5-1</key>
	<string>劳动节</string>
	<key>5-4</key>
	<string>青年节</string>
	<key>5-8</key>
	<string>世界微笑日</string>
	<key>5-12</key>
	<string>护士节</string>
	<key>5-13</key>
	<string>母亲节</string>
	<key>5-15</key>
	<string>世界家庭日</string>
	<key>5-19</key>
	<string>中国旅游日</string>
	<key>5-31</key>
	<string>无烟日</string>
	<key>6-1</key>
	<string>儿童节</string>
	<key>6-5</key>
	<string>世界环境保护日</string>
	<key>6-6</key>
	<string>爱眼日</string>
	<key>6-17</key>
	<string>父亲节</string>
	<key>6-23</key>
	<string>国际奥林匹克日</string>
	<key>6-26</key>
	<string>反毒品日</string>
	<key>7-1</key>
	<string>建党节</string>
	<key>7-7</key>
	<string>七七事变纪念日</string>
	<key>7-11</key>
	<string>中国航海日</string>
	<key>8-1</key>
	<string>建军节</string>
	<key>8-15</key>
	<string>日本投降纪念日</string>
	<key>8-26</key>
	<string>全国律师咨询日</string>
	<key>9-3</key>
	<string>抗日战争胜利纪念日</string>
	<key>9-10</key>
	<string>教师节</string>
	<key>9-18</key>
	<string>九一八纪念日</string>
	<key>9-20</key>
	<string>爱牙日</string>
	<key>9-28</key>
	<string>孔子诞辰纪念日</string>
	<key>9-30</key>
	<string>中国烈士纪念日</string>
	<key>10-1</key>
	<string>国庆节</string>
	<key>10-10</key>
	<string>辛亥革命纪念日</string>
	<key>10-13</key>
	<string>世界保健日</string>
	<key>10-16</key>
	<string>粮食日</string>
	<key>10-24</key>
	<string>联合国日</string>
	<key>10-31</key>
	<string>万圣夜</string>
	<key>11-8</key>
	<string>记者节</string>
	<key>11-11</key>
	<string>光棍节</string>
	<key>11-17</key>
	<string>大学生节</string>
	<key>12-1</key>
	<string>艾滋病日</string>
	<key>12-10</key>
	<string>人权日</string>
	<key>12-13</key>
	<string>南京大屠杀国家公祭日</string>
	<key>12-20</key>
	<string>澳门回归纪念日</string>
	<key>12-24</key>
	<string>平安夜</string>
	<key>12-25</key>
	<string>圣诞节</string>
</dict>
</plist>
