<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>领养</key>
	<string>指收纳养子养女</string>
	<key>入宅</key>
	<string>指搬入新房子而非二手房</string>
	<key>放债</key>
	<string>借钱给人以收取利息。</string>
	<key>诉讼</key>
	<string>打官司，起诉状。</string>
	<key>开仓</key>
	<string>指打开粮仓货仓，取粮，出货。</string>
	<key>买卖</key>
	<string>订立各种契约互相买卖之事。</string>
	<key>收购</key>
	<string>指购置产业、进货、收租、讨债、五谷入仓等。</string>
	<key>立契</key>
	<string>签订合同，订立契约等商业、法律行为。</string>
	<key>开市</key>
	<string>开业之意。新设店铺商行或新厂开幕等事。</string>
	<key>交易</key>
	<string>订立各种契约互相买卖之事，同立券。</string>
	<key>出货</key>
	<string>商家之发货、出货、销货的意思。</string>
	<key>签约</key>
	<string>签订合同、订立契约等商业、法律行为。</string>
	<key>考试</key>
	<string>参加考核、面试等。</string>
	<key>置业</key>
	<string>指购买建成的房子。</string>
	<key>求财</key>
	<string>指祈求通过投资等活动赚取博得财富。</string>
	<key>坏垣</key>
	<string>拆除围墙。</string>
	<key>上染色</key>
	<string>用颜料使物体具有某种颜色。</string>
	<key>裁衣</key>
	<string>指婚前准备新衣、钗环等。现指买新衣服。</string>
	<key>伐木</key>
	<string>指砍伐树木，修剪花木花枝。</string>
	<key>开渠</key>
	<string>开挖水渠，兴修水利。</string>
	<key>修补</key>
	<string>修理破损之物使之完好。</string>
	<key>取鱼</key>
	<string>指把养好的鱼取出来卖。</string>
	<key>捕捉</key>
	<string>即扑灭农作物害虫或生物。</string>
	<key>平道</key>
	<string>指铺平道路等工事。</string>
	<key>栽种</key>
	<string>指种植植物、接枝等农事。</string>
	<key>渡水</key>
	<string>乘船通过江河。</string>
	<key>打井</key>
	<string>开凿水井，安装取水设备。</string>
	<key>安床</key>
	<string>指安置睡床卧铺之意。</string>
	<key>会友</key>
	<string>聚集亲友，有朋相会。</string>
	<key>破屋</key>
	<string>拆屋或局部改造。</string>
	<key>剃头</key>
	<string>剃胎发或削发出家。</string>
	<key>修造</key>
	<string>指阳宅之建造与修理。</string>
	<key>求医</key>
	<string>就医，请大夫看病。</string>
	<key>求嗣</key>
	<string>向神明祈求后嗣（子孙）之意。</string>
	<key>祈福</key>
	<string>祈求神明降福或设醮还愿之事。</string>
	<key>动土</key>
	<string>指阳宅（即住房）之建造与修理。</string>
	<key>搬家</key>
	<string>指搬入旧屋（非新宅）。</string>
	<key>作灶</key>
	<string>安修厨灶、厨炉移位。</string>
	<key>拆屋</key>
	<string>拆掉房屋或建筑物。</string>
	<key>上官</key>
	<string>走马上任，上官赴任。</string>
	<key>沐浴</key>
	<string>祈福、许愿而沐浴斋戒，洗澡。</string>
	<key>出行</key>
	<string>外出旅游，观光游览。</string>
	<key>上梁</key>
	<string>装上建筑物屋顶的梁木，同架马。</string>
	<key>会亲友</key>
	<string>与亲戚朋友联络交往。</string>
	<key>安葬</key>
	<string>举行埋葬等仪式。</string>
	<key>破土</key>
	<string>仅指埋葬用的破土，属阴宅。</string>
	<key>疗病</key>
	<string>治疗疾病。</string>
	<key>嫁娶</key>
	<string>男婚女嫁，举行结婚大典的吉日。</string>
	<key>订婚</key>
	<string>同纳采。受授聘金，可用于合婚订婚。</string>
	<key>祭祀</key>
	<string>即拜祭祖先或祭拜神明等。</string>
	<key>入学</key>
	<string>应聘中的报名，开学典礼。</string>
</dict>
</plist>
