<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>立春</string>
		<key>image</key>
		<string>beginningSpring</string>
		<key>time</key>
		<string>2月3-4日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨水</string>
		<key>image</key>
		<string>rainWater</string>
		<key>time</key>
		<string>2月18-19日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>惊蛰</string>
		<key>image</key>
		<string>wakingInsects</string>
		<key>time</key>
		<string>3月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春分</string>
		<key>image</key>
		<string>springEquinox</string>
		<key>time</key>
		<string>3月20-21日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清明</string>
		<key>image</key>
		<string>pureBrightness</string>
		<key>time</key>
		<string>4月4-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>谷雨</string>
		<key>image</key>
		<string>grainRain</string>
		<key>time</key>
		<string>4月19-20日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立夏</string>
		<key>image</key>
		<string>beginningSummer</string>
		<key>time</key>
		<string>5月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小满</string>
		<key>image</key>
		<string>grainFull</string>
		<key>time</key>
		<string>5月20-22日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>芒种</string>
		<key>image</key>
		<string>grainInEar</string>
		<key>time</key>
		<string>6月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夏至</string>
		<key>image</key>
		<string>summersolstice</string>
		<key>time</key>
		<string>6月21-22日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小暑</string>
		<key>image</key>
		<string>slightHeat</string>
		<key>time</key>
		<string>7月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大暑</string>
		<key>image</key>
		<string>greatHeat</string>
		<key>time</key>
		<string>7月22-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立秋</string>
		<key>image</key>
		<string>beginningAutumn</string>
		<key>time</key>
		<string>8月6-9日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>处暑</string>
		<key>image</key>
		<string>limitHeat</string>
		<key>time</key>
		<string>8月22-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>白露</string>
		<key>image</key>
		<string>whiteDew</string>
		<key>time</key>
		<string>9月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>秋分</string>
		<key>image</key>
		<string>autumnalEquinox</string>
		<key>time</key>
		<string>9月22-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寒露</string>
		<key>image</key>
		<string>coldDew</string>
		<key>time</key>
		<string>10月7-9日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>霜降</string>
		<key>image</key>
		<string>frostDescent</string>
		<key>time</key>
		<string>10月23-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立冬</string>
		<key>image</key>
		<string>beginningWinter</string>
		<key>time</key>
		<string>11月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小雪</string>
		<key>image</key>
		<string>slightSnow</string>
		<key>time</key>
		<string>11月22-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大雪</string>
		<key>image</key>
		<string>greatSnow</string>
		<key>time</key>
		<string>12月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>冬至</string>
		<key>image</key>
		<string>winterSolstice</string>
		<key>time</key>
		<string>12月21-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小寒</string>
		<key>image</key>
		<string>slightCold</string>
		<key>time</key>
		<string>1月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大寒</string>
		<key>image</key>
		<string>greatCold</string>
		<key>time</key>
		<string>1月19-21日</string>
	</dict>
</array>
</plist>
