<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>正南</key>
	<string>今日桃花位在正南方，多留意坐这个方位的人，也许就是你的正桃花。</string>
	<key>东南</key>
	<string>今天东南方位的桃花正旺，在这个方位摆放花枝，桃花运会更旺。</string>
	<key>西南</key>
	<string>今天约心仪的人吃饭可以把地点约在西南方，更容易获得好感。</string>
	<key>西北</key>
	<string>今天你的桃花位在西北方，在这个方位活动有助于带旺桃花运。</string>
	<key>东北</key>
	<string>今天你的桃花位在东北方，保持愉悦的心情，愿你喜结良缘。</string>
</dict>
</plist>
