<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>癸</key>
	<dict>
		<key>money</key>
		<string>正南</string>
		<key>love</key>
		<string>东南</string>
	</dict>
	<key>壬</key>
	<dict>
		<key>money</key>
		<string>正南</string>
		<key>love</key>
		<string>正南</string>
	</dict>
	<key>辛</key>
	<dict>
		<key>love</key>
		<string>西南</string>
		<key>money</key>
		<string>正东</string>
	</dict>
	<key>庚</key>
	<dict>
		<key>money</key>
		<string>正东</string>
		<key>love</key>
		<string>西北</string>
	</dict>
	<key>己</key>
	<dict>
		<key>love</key>
		<string>东北</string>
		<key>money</key>
		<string>正北</string>
	</dict>
	<key>戊</key>
	<dict>
		<key>love</key>
		<string>东南</string>
		<key>money</key>
		<string>正北</string>
	</dict>
	<key>丁</key>
	<dict>
		<key>love</key>
		<string>正南</string>
		<key>money</key>
		<string>正西</string>
	</dict>
	<key>丙</key>
	<dict>
		<key>love</key>
		<string>西南</string>
		<key>money</key>
		<string>正西</string>
	</dict>
	<key>乙</key>
	<dict>
		<key>love</key>
		<string>西北</string>
		<key>money</key>
		<string>东北</string>
	</dict>
	<key>甲</key>
	<dict>
		<key>love</key>
		<string>东北</string>
		<key>money</key>
		<string>东北</string>
	</dict>
</dict>
</plist>
