<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>甲子</key>
	<dict>
		<key>message</key>
		<string>有上进心，有毅力，为人正直，乐于助人，责任感强，温柔体贴</string>
		<key>store</key>
		<integer>90</integer>
		<key>remark</key>
		<string>生活悠闲</string>
		<key>content</key>
		<string>你是甲子日出生的，甲木为栋梁之木，木代表仁义，坐下正印，代表身高体健，慈爱恺悌，相貌俊秀。印又代表文书，身坐文书，代表你才学超群，能有掌握权贵的机会。印又有生身助学的功效，所以你的记忆力很强，学习成绩优秀。</string>
	</dict>
	<key>乙丑</key>
	<dict>
		<key>message</key>
		<string>柔顺温和，表现力丰富，反应敏捷，善于理财，情绪管理能力强</string>
		<key>store</key>
		<integer>79</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是乙丑日出生的，乙丑为六秀，代表你本人秀气漂亮，大方得体。身坐金库，无根，坐下七杀无制，代表你虽然有财运，但自信心太过，做事往往一意孤行，没有想清楚，容易犯错，因此而降低了命中的格局。</string>
	</dict>
	<key>丙寅</key>
	<dict>
		<key>message</key>
		<string>开朗直爽，慷慨大方，待人亲切，精力充沛，做事积极，易得人心</string>
		<key>store</key>
		<integer>78</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是丙寅日出生的，丙为太阳，身坐长生，有光彩之象，代表你本人聪明伶俐，智慧过人。但坐下枭神夺食，不算太理想，你容易多学少成，心性不定，而且口快舌硬，身闲心直，招惹是非。</string>
	</dict>
	<key>丁卯</key>
	<dict>
		<key>message</key>
		<string>温和有礼，热情周到，思虑远，行事谨慎，能奉献牺牲，隐藏内心情感</string>
		<key>store</key>
		<integer>76</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是丁卯曰出生的，坐印通根，代表你本人聪明伶俐，有学问，有才华。但身坐偏印，适合做副职，辅佐他人取得成功，在老板上司眼中你是不可多得的人才，可以担任重要职位。</string>
	</dict>
	<key>戊辰</key>
	<dict>
		<key>message</key>
		<string>乐观豁达，耿直稳重，为人重感情，乐于助人，守规章制度，好面子</string>
		<key>store</key>
		<integer>89</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是戊辰日出生的，通根身旺，坐财官比肩，但支中比肩财星化火为印，变成官印相生，代表你的命格高贵。支内戊癸化火生土，而辰本为湿土，内中有火，温暖中和，能生万物，必然根深叶茂，秀气有成，属于上好的命格。</string>
	</dict>
	<key>己巳</key>
	<dict>
		<key>message</key>
		<string>学习能力强，多才多艺，抗压能力强，愿意接受意见，做事认真</string>
		<key>store</key>
		<integer>75</integer>
		<key>remark</key>
		<string>生活悠闲</string>
		<key>content</key>
		<string>你是己巳曰出生的，金神，代表你本人刚毅、聪明，能力出众，有火则贵，缺火则不吉。坐下正印、劫财、伤官，伤官佩印，代表你命中有有贵气，贵不可言。但伤官遇劫，你易遭小人陷害。</string>
	</dict>
	<key>庚午</key>
	<dict>
		<key>message</key>
		<string>刚毅不服输，做事积极果断，能言善辩，富有正义感，为人不虚伪</string>
		<key>store</key>
		<integer>88</integer>
		<key>remark</key>
		<string>生活低调</string>
		<key>content</key>
		<string>你是庚午曰出生的，身坐正官正印，气质清纯，有官运有贵气。但金坐火地，须经火炼，千捶百炼，所以可能会仕途坎河，有大起，也有大落，历经磨练才能获得大富大贵。</string>
	</dict>
	<key>辛未</key>
	<dict>
		<key>message</key>
		<string>心思细腻，为人亲切，有同情心，喜欢创新，人际关系好，善恶分明</string>
		<key>store</key>
		<integer>74</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是辛未日出生的，得库通根，身旺，坐下偏财、偏印、七杀，代表你这一生较为平顺，很少出现大起大落，有贵气。男性事业心重，有权势；女性爱情专一，夺夫权，守家，独裁。</string>
	</dict>
	<key>壬申</key>
	<dict>
		<key>message</key>
		<string>率性自由，悠闲乐观，智慧果敢，文武双全，不畏困难挫折，有领导能力</string>
		<key>store</key>
		<integer>60</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是壬申曰出生的，身坐长生，太旺，代表你性巧聪明，有才智，多计谋策略，诚信待人必能取成功。纳音剑锋金，男性敢于拼打争斗，易招仇恨。女命重武好斗，具男性风格，胆识过人。</string>
	</dict>
	<key>癸酉</key>
	<dict>
		<key>message</key>
		<string>性格内向，做事勤勉认真，聪慧敏感，注重原则，感受力强，重生活情调</string>
		<key>store</key>
		<integer>59</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是癸酉日出生的，身坐偏印，金神，代表你外表柔和，内心多计谋，富于心计。和父母六亲关系冷淡，不靠父母，财富全凭自身努力打拼，会挣钱，但也会花钱，平稳够用。社会交际广，受人爱戴。</string>
	</dict>
	<key>甲戌</key>
	<dict>
		<key>message</key>
		<string>正直仁厚，有上进心，待人平和，心地仁慈，有恻隐之心，有人情味</string>
		<key>store</key>
		<integer>73</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是甲戌日出生的，得库通根身旺，坐下偏财正官、伤官，代表你本人刚强正直，光明正大，有做官命，而且为官清廉，声誉较好。但性格过于直爽得罪人，难免受到竞争对手的打击、排挤。</string>
	</dict>
	<key>乙亥</key>
	<dict>
		<key>message</key>
		<string>稳重善良，多才多艺，柔顺仁慈，富有同情心，稳重务实，人缘好</string>
		<key>store</key>
		<integer>72</integer>
		<key>remark</key>
		<string>生活悠闲</string>
		<key>content</key>
		<string>你是乙亥曰出生的，虽处死地，却坐下为正印劫财帮身，故有枯木逢春之象。代表你的姻缘桃花很好，婚姻理想，男性可以娶得贤妻，女性可以嫁得有权贵的丈夫，而且对丈夫忠诚。</string>
	</dict>
	<key>丙子</key>
	<dict>
		<key>message</key>
		<string>语言得体，彬彬有礼，文采口才极佳，至尊心强，外向热情，善于表现自我</string>
		<key>store</key>
		<integer>87</integer>
		<key>remark</key>
		<string>生活低调</string>
		<key>content</key>
		<string>你是丙子日出生的，丙子为六秀，代表你聪明秀气。丙火坐子无根，代表你的身材不会特别高大。丙为太阳代表光明，而子鼠桀黠，子中癸水阴湿，所以你火会有双重性格。身坐正官，你命中有权贵，会有当官命，但当官后往往自以为是，独裁固执。</string>
	</dict>
	<key>丁丑</key>
	<dict>
		<key>message</key>
		<string>富有同情心，充满智慧，柔和细腻，万事顾虑周全，有上进心，通情达理</string>
		<key>store</key>
		<integer>71</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是丁丑日出生的，丁火坐丑无根，身弱，但丁为星光，无妨。坐下偏财、七杀、食神，食神生偏财，偏财生杀，代表你这_生较为平顺，有财运，有贵气，不缺发财机会。</string>
	</dict>
	<key>戊寅</key>
	<dict>
		<key>message</key>
		<string>踏实认真，心胸宽广，做事踏实认真，为人诚实稳重，有安全感，待人随和</string>
		<key>store</key>
		<integer>70</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是戊寅曰出生的，日坐长生，身旺，如若生于春季，则坐下七杀太重，代表你因为过于刚强而招祸，易快易冷，交往闲杂。早年勤俭，离祖发达，聪明才智，手足伶俐；晚年大有良机，不可莽撞，得安宁，有幸福。</string>
	</dict>
	<key>己卯</key>
	<dict>
		<key>message</key>
		<string>才华横溢，性格内向，富有责任心，重视内涵，做事循规蹈矩，不喜权贵</string>
		<key>store</key>
		<integer>58</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是己卯日出生的，坐杀截脚，代表你容易出现意外伤害，特别是青年时期就更需要注意人生安全。为人交往广泛，衣食丰足，但和父母、孩子关系冷淡，难得帮助和依靠，需要自强自立。</string>
	</dict>
	<key>庚辰</key>
	<dict>
		<key>message</key>
		<string>果敢刚烈，重义气，处事有决断力，富有才干，善于交际，人缘好</string>
		<key>store</key>
		<integer>86</integer>
		<key>remark</key>
		<string>生活悠闲</string>
		<key>content</key>
		<string>你是庚辰日出生的，身坐正财、伤官、偏印，代表你会有财禄，聪明有学识。支中伤官带偏印有贵气，而戊癸化火为官杀，变成曰坐财官，代表你有官命，可以做官，但隐含伤官，可能喜欢开杀戒。</string>
	</dict>
	<key>辛巳</key>
	<dict>
		<key>message</key>
		<string>气质高雅，性格沉稳，温润秀气，重感情，自尊心强，多才多艺</string>
		<key>store</key>
		<integer>85</integer>
		<key>remark</key>
		<string>生活低调</string>
		<key>content</key>
		<string>你是辛巳曰出生的，身坐正印正官劫财，辛金荏弱，有正印生身，劫财匡助，由弱转旺，而正官丙火制衡，使干支中和，这属于上好的命格，代表你有官运，有贵气，有机会成为大富大贵之人。</string>
	</dict>
	<key>壬午</key>
	<dict>
		<key>message</key>
		<string>乐观善良，足智多谋，聪明好学，有同情心，感情细腻，品味高雅</string>
		<key>store</key>
		<integer>84</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是壬午曰出生的，坐下财官，无杂气，多主官贵，丁壬合财，代表你会得伴侣的财富或因伴侣致富。另外，壬水盖头有掩火之嫌，所以你虽然命中带有官运贵气，也难免会大起大落。</string>
	</dict>
	<key>癸未</key>
	<dict>
		<key>message</key>
		<string>聪慧敏感，性格内向，认真勤勉，平静柔和，注重原则，注重生活情调</string>
		<key>store</key>
		<integer>69</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是癸未日出生的，坐下有食神生财、财生杀，因坐偏财、七杀，代表你心急口快，为人伶俐，帮人无恩反招是非，曲直难辩，多有误会。有财无库，过眼烟云，代表你容易出现财来财去，精打细算可免祸灾。</string>
	</dict>
	<key>甲申</key>
	<dict>
		<key>message</key>
		<string>有责任心，不折不挠，不畏强权，自尊心强，重原则，在意他人的看法</string>
		<key>store</key>
		<integer>57</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是甲申日出生的，虽身坐绝地，但你心性温柔，能力出众，技压群芳，财富收入自然不会少。早年运势不顺，中年劳神，晚年才会顺利。夫妻和顺，子女迟到，家事平安。</string>
	</dict>
	<key>乙酉</key>
	<dict>
		<key>message</key>
		<string>自尊心强，重原则，在意他人的看法，有责任心，不折不挠，不畏强权</string>
		<key>store</key>
		<integer>56</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是乙酉日出生的，身坐杀截脚，生在春天有救，生在土月助杀攻身，不妙。你乐观大方，家境条件尚可，衣禄足用，兄弟虽有，但难为你提供助力。与人为善，善待他人，事业才会成功。</string>
	</dict>
	<key>丙戌</key>
	<dict>
		<key>message</key>
		<string>本性平和，不卑不亢，处事大方，有上进心，通情达理，兴趣广泛</string>
		<key>store</key>
		<integer>68</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是丙戌日出生的，身坐火库，身旺，火光熠熠，代表你聪明漂亮，家境好货努力致富，衣禄不愁，有赚钱的能力和机遇，能够自行置业。前期运势不好，财运不顺，中年操劳进财，晚年生活富足。</string>
	</dict>
	<key>丁亥</key>
	<dict>
		<key>message</key>
		<string>内向腼腆，温良保守，珍惜荣誉，细腻乐观，行为低调，有谦让之风</string>
		<key>store</key>
		<integer>85</integer>
		<key>remark</key>
		<string>生活低调</string>
		<key>content</key>
		<string>你是丁亥曰出生的，坐下正印官星，官印相生，代表你这个人聪明超群，有大智慧。丁壬合化印星，坐贵，代表你有官运有贵气，与大贵人有缘，能结交达官贵人，获得他们帮助而致富。</string>
	</dict>
	<key>戊子</key>
	<dict>
		<key>message</key>
		<string>为人踏实，比较现实，循规蹈矩，精明细致，不占人便宜，感情丰富</string>
		<key>store</key>
		<integer>84</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是戊子日出生的，壬子为六秀日，代表你本人聪明秀气。坐正财，男性可以取得贤良得体的妻子或者因为妻子而致富；女性出生家境好，父亲对自己疼爱有加。干支戊癸化火生身，代表你命中有贵气，能交接达官贵人。</string>
	</dict>
	<key>己丑</key>
	<dict>
		<key>message</key>
		<string>个性倔强，有冲劲，直来直往，主观固执，不畏强权，守财能力强</string>
		<key>store</key>
		<integer>67</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是己丑日出生的，日柱通根，生于得令时为强，比肩夺财争斗，生于失令时则有兄弟帮忙。你口快心直，通技艺人，能掌实权，需要诚信待人才能博得众人认可，赚钱机会多，生活富足，家庭和睦。</string>
	</dict>
	<key>庚寅</key>
	<dict>
		<key>message</key>
		<string>自信心强，目标明确，善于思考，务实，自我改进提升，事业心重</string>
		<key>store</key>
		<integer>66</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是庚寅日出生的，曰坐绝地，无根，盖头(干克支)，你本人容易动怒，性情反复无常，伤人还不知道，容易失去人缘。但坐杀印有开拓精神，为官多清廉，支藏偏印宜做副手，得老板上司认可担任重要职务。早年劳碌无成，中年奔波，晚年家境较好。</string>
	</dict>
	<key>辛卯</key>
	<dict>
		<key>message</key>
		<string>自信心强，目标明确，善于思考，务实，自我改进提升，事业心重</string>
		<key>store</key>
		<integer>55</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是辛卯曰出生的，身坐偏财，桃花，男性喜欢女色，女性稍好，漂亮浪漫有人缘。口快心直，有志气，有权贵，可以当官近贵，身闲心不空。不靠父母，自立家业，少年劳禄，晚年大吉。</string>
	</dict>
	<key>壬辰</key>
	<dict>
		<key>message</key>
		<string>为人善良，乐观聪明，足智多谋，情细腻，品味高雅，有同情心</string>
		<key>store</key>
		<integer>65</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是壬辰日出生的，身坐水库通根身旺，坐下有劫财生食，食神制杀，身旺用杀，代表你能有富贵，但你也会是劳碌之人，手脚停不下来，整天忙这忙那的，早年难守财，财来财去，晚年发达。</string>
	</dict>
	<key>癸巳</key>
	<dict>
		<key>message</key>
		<string>比较现实，做事踏实，循规蹈矩，精明细致，不占人便宜，感情丰富</string>
		<key>store</key>
		<integer>83</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是癸巳日出生的，身坐正官正印正财，财官印连生，循环清正，代表你命带有贵气，能结交达官贵人，而且身体健康，生活富裕，赚钱轻松，属于上好的命格。</string>
	</dict>
	<key>甲午</key>
	<dict>
		<key>message</key>
		<string>个性清高，为人高洁，好学上进，爱恨分明，有理想追求，兴趣广泛</string>
		<key>store</key>
		<integer>64</integer>
		<key>remark</key>
		<string>骄傲自满</string>
		<key>content</key>
		<string>你是甲午日出生的，身坐死地，代表你_生劳苦奔波，并不安逸。干生支，你会对伴侣很好，愿意付出；伤官生财，你对长辈孝顺，照顾父母。曰主泄出丁火，主利他人，代表你对别人照顾有加，可自己到老，却一无所有。</string>
	</dict>
	<key>乙未</key>
	<dict>
		<key>message</key>
		<string>比较现实，做事踏实，循规蹈矩，精明细致，不占人便宜，感情丰富</string>
		<key>store</key>
		<integer>63</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是乙未曰出生的，坐库通根，财星入库，代表你能富贵，多赚钱机会，但爱财小气，在钱财的问题上不愿推让。少年勤俭，早年平顺，兄弟少靠，有子女相伴，晚年聚财，家境富裕。</string>
	</dict>
	<key>丙申</key>
	<dict>
		<key>message</key>
		<string>目标明确，事业心强，思维变化快，勤劳务实，自我增值，有自信心</string>
		<key>store</key>
		<integer>62</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是丙申日出生的，身弱无根，妙在丙火太阳，坐下食神生财，财生杀，壬水杀旺，映照太阳光辉，代表你本人聪明灵气，衣食丰足，财路畅顺，有赚钱机遇。但杀旺攻身，代表你一辈子辛苦，老来孤独，不能坐享其成。</string>
	</dict>
	<key>丁酉</key>
	<dict>
		<key>message</key>
		<string>目标明确，事业心强，思维变化快，勤劳务实，自我增值，有自信心</string>
		<key>store</key>
		<integer>82</integer>
		<key>remark</key>
		<string>生活善变</string>
		<key>content</key>
		<string>你是丁酉日出生的，身坐长生偏财、夜贵、文昌，代表你本人高贵聪明，能力见识超群，受人钦敬，另外可能会有叛逆创新性格，开创属于自己的一番大事业。</string>
	</dict>
	<key>戊戌</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>61</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是戊戌日出生的，坐库通根，土太燥，吉带凶，魁罡，代表你会心直口快，遇事果断，判断力强，也代表你聪明，文采好，但不会用阴谋诡计，容易得罪人。早年运势颠倒，招惹是非、破财。中年贪求，欲望高昂，容易遭人妒嫉。</string>
	</dict>
	<key>己亥</key>
	<dict>
		<key>message</key>
		<string>比较现实，做事踏实，循规蹈矩，精明细致，不占人便宜，感情丰富</string>
		<key>store</key>
		<integer>81</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是己亥曰出生的，身坐正财正官，为财官双美的命格，代表你命中有贵气，一生有贵人相助，通过自己的努力能大富大贵，又或者因为伴侣而致富，男性能取良妻，女性可嫁贵夫。</string>
	</dict>
	<key>庚子</key>
	<dict>
		<key>message</key>
		<string>现实主义者，个性清高，为人高洁，有自信心，有理想追求，兴趣广泛</string>
		<key>store</key>
		<integer>54</integer>
		<key>remark</key>
		<string>骄傲自满</string>
		<key>content</key>
		<string>你是庚子曰出生的，坐伤官，干支金水相生，代表你秀丽聪明，但耿直，讲义气，为人稳重，有官运，适合任职公检法部门。男性妻子贤慧，持家有方，结交贵人，提拔机遇，逢凶化吉。女性兴旺，福荫家庭。</string>
	</dict>
	<key>辛丑</key>
	<dict>
		<key>message</key>
		<string>文静，生活节奏慢，缺少压力，乐观开朗，心胸广阔，随性自在</string>
		<key>store</key>
		<integer>80</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是辛丑日出生的，通根，坐下有印比食神，代表你本人聪明秀气，心性温和，运势多波折，早年惊恐事多，或容易出现意外之灾。中年生活条件还不错，但和孩子关系一般。晚年运势好，生活富足。</string>
	</dict>
	<key>壬寅</key>
	<dict>
		<key>message</key>
		<string>本性平和，不畏不亢，明辨事理，处事大方，有上进心，兴趣广泛</string>
		<key>store</key>
		<integer>79</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是壬寅曰出生的，坐下食神生偏财再生杀，又为壬骑虎背，代表你富贵双全，有福气，多赚钱机会，但你为人口快心直，容易招惹口舌是非，早年运势颠倒，中年运势兴旺。干支相生，代表你家庭圆满，注意男女都不能早结婚，若早婚夫妻便容易闹矛盾。</string>
	</dict>
	<key>癸卯</key>
	<dict>
		<key>message</key>
		<string>本性平和，不畏不亢，明辨事理，处事大方，有上进心，兴趣广泛</string>
		<key>store</key>
		<integer>90</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是癸卯日出生的，神坐长生、日贵，食神吐秀，代表你聪明有文才，能力出众，容易得到老板上司认可而担任要职，经努力能富贵。</string>
	</dict>
	<key>甲辰</key>
	<dict>
		<key>message</key>
		<string>比较现实，做事踏实，循规蹈矩，精明细致，不占人便宜，感情丰富</string>
		<key>store</key>
		<integer>78</integer>
		<key>remark</key>
		<string>生活踏实</string>
		<key>content</key>
		<string>你是甲辰日出生的，得气通根，坐下有偏财破印，缺少贵气，代表你一生的运势不会一帆风顺，前半生不太好，运势弱。中年勤奋，情感有波折，事业发达，但结婚会推迟。后半生平安，财禄丰足。</string>
	</dict>
	<key>乙巳</key>
	<dict>
		<key>message</key>
		<string>个性清高，为人高洁，自信心，有理想追求，兴趣广泛，学习能力强</string>
		<key>store</key>
		<integer>89</integer>
		<key>remark</key>
		<string>骄傲自满</string>
		<key>content</key>
		<string>你是乙巳日出生的，乙木向阳，英华外发，代表你本人聪明有智慧。但泄气，只利他人，不利己，代表你善于帮人出谋献策。坐下伤官正财，正官顺生，代表你赚钱能力强，财运好，能富裕。</string>
	</dict>
	<key>丙午</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>53</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是丙午日出生的，坐羊刃，过刚，你本人聪明有才华，身闲心不空，有理想追求，婚姻运不佳，和伴侣关系不和，也代表自己容易受伤，容易出现危机，求名不利，事业多争端，竞争大。</string>
	</dict>
	<key>丁未</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>78</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是丁未曰出生的，得库通根，坐下食神旺，代表你样子漂亮，会是帅哥美女，但喜怒无常，容易闹脾气，口才好，名利不缺，生孩子会推迟一点，和孩子的关系不太好。生活条件好，衣禄丰足。</string>
	</dict>
	<key>戊申</key>
	<dict>
		<key>message</key>
		<string>本性平和，不畏不亢，明辨事理，处事大方，有上进心，兴趣广泛</string>
		<key>store</key>
		<integer>52</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是戊申日出生的，为人性急，易反复无常，不知道自己想要什么。一生劳禄，但有权贵，有做官的运，能得贵人相助而获得成功，财库富足，赚钱机会多。婚姻运不算好，可能会爱情不专，作风不正。</string>
	</dict>
	<key>己酉</key>
	<dict>
		<key>message</key>
		<string>本性平和，不畏不亢，明辨事理，处事大方，有上进心，兴趣广泛</string>
		<key>store</key>
		<integer>88</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是己酉曰出生的，身坐长生、文昌，代表你喜欢文学知识，聪明有文才，能力出众。而且土金相生，代表你本人身体好，健康长寿。但干生支，毕竟泄气，故得失都有，一生中有大起大落的情况。</string>
	</dict>
	<key>庚戌</key>
	<dict>
		<key>message</key>
		<string>内心朴实敦厚，做事认真，有主见，独来独往，喜欢清静，随性自在</string>
		<key>store</key>
		<integer>77</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是庚戌曰出生的，坐库通根身强，魁罡，代表你聪明刚毅，有文才，忠义双全，为人快活，生活条件好，有官运，有贵气，但容易产生误会，帮助别人反倒被怨恨，晩年有福气，生活如意。</string>
	</dict>
	<key>辛亥</key>
	<dict>
		<key>message</key>
		<string>个性清高，为人高洁，自信心，有理想追求，兴趣广泛，学习能力强</string>
		<key>store</key>
		<integer>76</integer>
		<key>remark</key>
		<string>生活独立</string>
		<key>content</key>
		<string>你是辛亥曰出生的，干支相生，金水相连，代表你文才好，喜欢清静，男性可得妻财，或娶漂亮的妻子。女性本人勤俭，有福气，帮助丈夫建立家业。大吗早年不聚财，财富留不住，努力后晚年能荣华富贵。</string>
	</dict>
	<key>壬子</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>51</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是壬子曰生出的，坐刃坐劫财，水太旺，幼年多病灾，中年衣食丰足。男性有好妻，身闲心劳，多喜多忧，为事业奔波辛劳，兄弟少助力，和父母关系冷淡，需要勤奋自立。女性是贤能之人，帮夫益子，但容易招人嫉妒。</string>
	</dict>
	<key>癸丑</key>
	<dict>
		<key>message</key>
		<string>有责任心，不折不挠，不畏强权，自尊心强，重原则，在意他人的看法</string>
		<key>store</key>
		<integer>75</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你是癸丑日出生的，身坐库通根，坐下杀印生比肩，代表你一生得人尊重，会为人提供帮助，但往往是吃力不讨好，劳累奔波无功劳。夫妇和睦相处，财物早年难聚，求财多波折，晚年生活富足。</string>
	</dict>
	<key>甲寅</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>87</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是甲寅日出生的，坐禄通根身旺，坐下有伤官生财，代表你有富贵命，赚钱容易，有好财运。但比肩夺财，代表你的文才会稍微差一些，可能因为能力不足导致一些大的财富是无法获得，但生活富足应该问题不大。</string>
	</dict>
	<key>乙卯</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>86</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是乙卯日出生的，身坐禄通根身旺，坐比肩，无财，代表你一生清贵但不富贵，受人敬重，名声好，有人缘，易招贵人。上下乙木，秀气透出，代表你文彩好，人秀气，能力出众。</string>
	</dict>
	<key>丙辰</key>
	<dict>
		<key>message</key>
		<string>本性平和，不畏不亢，明辨事理，处事大方，有上进心，兴趣广泛</string>
		<key>store</key>
		<integer>85</integer>
		<key>remark</key>
		<string>生活自由</string>
		<key>content</key>
		<string>你是丙辰日出生的，身坐魁地，支藏正印、食神、七杀，代表你本人聪明、伶俐，才智超群，能力出众。辰为湿土，丙为太阳，阳光普照，万物有成，代表你聪明好动，有人缘，多良师益友。</string>
	</dict>
	<key>丁巳</key>
	<dict>
		<key>message</key>
		<string>有责任心，不折不挠，不畏强权，自尊心强，重原则，在意他人的看法</string>
		<key>store</key>
		<integer>50</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是丁巳曰出生的：丁火坐丙火，阳盛阴衰，白曰无光，代表你为人刚强，不会轻易屈服，能结交达官贵人。事业运好，勤奋能发达，你会热衷于事业，也能精打细算，小心经营自己的事业。</string>
	</dict>
	<key>戊午</key>
	<dict>
		<key>message</key>
		<string>心性善良，生活节奏慢，缺少压力，乐观开朗，心胸广阔，随性自在</string>
		<key>store</key>
		<integer>60</integer>
		<key>remark</key>
		<string>生活悠闲</string>
		<key>content</key>
		<string>你是戊午曰出生的，坐刃太旺，代表夫妻不和，或伴侣容易受伤害，多病灾。你为人温良，志气宽宏，衣禄丰足。少年多灾，中年勤奋，能有收获，晚年无忧，子女孝顺。</string>
	</dict>
	<key>己未</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>74</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是己未曰出生的，坐库通根，身旺，坐下有杀印，代表你自我意识强，口快舌硬，招惹招惹是非。财运一般，勤奋敬业，会精打细算，而且可以得贵人帮助，财富收入还不错。交往朋友有损友，小心朋友陷害。</string>
	</dict>
	<key>庚申</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，主观固执，不畏强权，直来直往</string>
		<key>store</key>
		<integer>84</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是庚申日出生的，身坐禄通根，代表你命带贵气，能得贵人相助而获得成功，有致富的机遇。丑月庚申，为天月两德，代表你一生健康少疾病，体格强壮，意外横祸较少。</string>
	</dict>
	<key>辛酉</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，有创新精神，不畏强权，直来直往</string>
		<key>store</key>
		<integer>83</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是辛酉曰出生的，身坐禄通根，代表你一生能得贵人相助，人缘好，可谓立于不败之地，做什么事都容易成功，也代表你本人聪明有文才，有能力，得到老板上司的认可信任，身居要职。</string>
	</dict>
	<key>壬戌</key>
	<dict>
		<key>message</key>
		<string>有责任心，不折不挠，不畏强权，自尊心强，重原则，在意他人的看法</string>
		<key>store</key>
		<integer>82</integer>
		<key>remark</key>
		<string>生活紧张</string>
		<key>content</key>
		<string>你的壬戌曰出生的，坐下财生杀，杀生印，杀印相生，这是富贵的命格，代表你有富贵命，赚钱能力强，武职更容易富贵。但丁壬化木逢燥土，这个转变就不太好了，代表你容易变成小人或坏人，为求达到目的可能会不择手段。</string>
	</dict>
	<key>癸亥</key>
	<dict>
		<key>message</key>
		<string>讲义气，重情义，交友广泛，爱好文学，不畏强权，直来直去</string>
		<key>store</key>
		<integer>59</integer>
		<key>remark</key>
		<string>重情重义</string>
		<key>content</key>
		<string>你是癸亥日出生的，玄武日，坐刃，喜欢独断专行。你为人刚直，可能会说话不留情面，需要诚信待人，慎防欺诈。和父母兄弟关系疏远，不靠父母自立家业，独自奋斗。异性缘旺，婚后家庭难免会有争吵。</string>
	</dict>
</dict>
</plist>
