<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>木</key>
	<string>喜用神简单来说就是对你人生最有帮助的五行属性，能够加强你的运势，改善命运。曰常衣着上多穿青色、绿色系列的衣服，尤其绿色可以多穿，而白色，金色系列的衣服要少穿点，配饰上也少戴_些黄金、铂金等金属饰物。饮食方面可以多吃绿色食品及青菜，例如多吃苹果、青提子、奇异果、西兰花、青豆、菠菜等，能够提提升运势同时也可增强财运。这其实就是命理学上补木的生活妙用方法，利用木的力量来改善你的命运。</string>
	<key>火</key>
	<string>喜用神简单来说就是对你人生最有帮助的五行属性，能够加强你的运势，改善命运。日常衣着上多穿红色，紫色，粉红等系列的衣服，尤其是红色的服饰可以多穿，而黑色，深蓝色系列的衣服要少穿点。饮食方面可以多吃红色或紫色的食物或蔬菜，例如多吃草莓、樱桃、红萝卜、灯笼椒、西红柿、辣椒、提子、茄瓜等，可以提升€的个人运势。这其实就是命理学上补火的生活妙用方法，利用火的力量来改善你的命运。</string>
	<key>土</key>
	<string>喜用神简单来说就是对你人生最有帮助的五行属性，能够加强你的运势，改善命运。日常衣着上多穿褐色，土黄色，明黄色等色系的衣服，尤其是黄色的服饰可以多穿，而绿色，青色、椒绿等颜色的衣服要少穿点。饮食方面可以多吃黄色的食物或蔬菜，例如多吃马铃薯、番薯、柠檬、香蕉、谷物（大米、玉米、小麦、黑麦等）、南&quot;&quot;瓜、鸡蛋、鱼等，可以提升你的个人运势。这其实就是命理学上补土的生活妙用方法，利用土的力量来改善你的命运。</string>
	<key>金</key>
	<string>喜用神简单来说就是对你人生最有帮助的五行属性，能够加强你的运势，改善命运。曰常衣着上多穿金色、白色系列的衣服，尤其白色可以多穿，而红色，粉色系列的衣服要少穿点。饮食方面也可以多吃雪梨、杏、椰子、白萝卜、大蒜、猴头菇、银耳、百合、牛奶、乳制品、豆腐、豆浆等食物。这其实就是命理学上补金的生活妙用方法，利用金的力量来改善你的命运。</string>
	<key>水</key>
	<string>喜用神简单来说就是对你人生最有希助的五行属性，能够加强你的运势，改苦命运。日常衣着上多穿黑色，深蓝色系列的衣服，尤其是黑色的服饰可以多穿，而黄色，棕色等系列的衣服要少穿点。饮食方面可以多吃蓝色或黑色的食物或蔬菜，例如多吃黑桑果、業子、龙眼、水鱼、墨鱼、海带、发菜、黑木耳、黑芝麻、黑豆、蓝莓等。这其实就是命理学上补水的生活妙用方法利用水的力量来改善你的命运。</string>
</dict>
</plist>
