<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   zanggan.plist
   TXBZSMAPP

   Created by shaokai lin on 2018/4/28.
   Copyright (c) 2018年 厦门天象文化传播有限公司. All rights reserved.
-->
<plist version="1.0">
    <dict><key>子</key><string>癸</string><key>丑</key><string>癸辛己</string><key>寅</key><string>丙甲</string><key>卯</key><string>乙</string><key>辰</key><string>乙癸戊</string><key>巳</key><string>庚丙</string><key>午</key><string>丁</string><key>未</key><string>丁乙己</string><key>申</key><string>壬庚</string><key>酉</key><string>辛</string><key>戌</key><string>辛丁戊</string><key>亥</key><string>甲壬</string></dict>
</plist>
