<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>双鱼座</key>
	<dict>
		<key>english</key>
		<string>pisces</string>
		<key>synthesize</key>
		<string>2018年，双鱼座会迎来一个新纪元，这一年不少双鱼座的压力会完全卸除，也许你们在过去一年经历了不少变动，也经历很多突发的转折让你们感受到不少挫折和压力，那么这一年将会是你们放松的一年，大部分时候你们的心情都会十分愉悦，这一年不少双鱼灵感迸发，因此也有利于从事创作行业的双鱼，不少人会在这一年决定开始一项完美崭新的计划，可能是学习，也可能是关系上进一步深入的发展，不管你们如何考虑，都会是非常和适宜。上半年双鱼们会十分享受生活中的一切事物，你们会很满足，下半年时候则是要注意遇事不要冲动。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>4</string>
			<key>fortune</key>
			<string>4</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>3</string>
		</dict>
		<key>fortune</key>
		<string>2018年，双鱼座的财运总体来说会比较不错，大部分是由于你付出努力所获得，多劳多得，一切都会显得十分公平，当然这一年你们对于自己的财务状况还是会显得十分紧张，压力会比较大，不少人渴望在财运上获得更多支持，希望自己能获得更大的收获，当然你们需要减轻这方面的压力，这一年财运总体来说会比较不错，也已经足够支撑你们。</string>
		<key>love</key>
		<string>2018年双鱼座的爱情运势看起来并不是十分愉悦，不少人在这一年感情状态让你们会比较憋屈，你们可能对于目前所处的关系感觉到迷茫，有伴的人可能会发现对方并不是最适合自己的人，对于感情你们更希望心灵的交融和谐真实，然而目前的关系却限制住了这些发展，不少双鱼会感觉到关系缺乏一种动力和激情。面对情势并不让人如意的局面，双鱼座要做的就是凭借开运宝物来扭转局势，聚齐自身能量，增进人缘，稳定情绪，是人类灵性与宇宙结合的象征，帮助无数单身男女解决感情问题，成功化解情侣感情危机，是双鱼座2018年必不可少的旺运神器。</string>
		<key>work</key>
		<string>2018年，双鱼座在事业上的收获也会然你们比较满意哦，不少双鱼会克服过去懒惰回避的心理，这一年会重振信心好好出发，然而你们这一年的自制力还不是十分强势，特别如果事业上如果总是重复在做同一件事的话，你们很容易失去耐心，不会认真去斟酌细节，也有部分人双鱼可能会偏向于放松的事物，更多地想出去放风玩耍。要注意的是今年事业上的人际也会有一些沟通不畅的问题。</string>
		<key>health</key>
		<string>2018年双鱼座的健康运势会有所下滑，这一年不少双鱼座在自己的健康照顾上会有所偷懒，你们不会再积极的锻炼身体，更多是喜欢休息，静静待着，这一年由于生活上的事务也会比较繁忙，因而你们的精力也并不是很好，经常会耽误到休息的时间，因而也不会考虑更多健康上的问题，不少双鱼们要注意脚部的健康。</string>
		<key>lucky</key>
		<string>7</string>
		<key>color</key>
		<string>棕</string>
		<key>xingzuo</key>
		<string>处女座</string>
	</dict>
	<key>水瓶座</key>
	<dict>
		<key>english</key>
		<string>aquarius</string>
		<key>synthesize</key>
		<string>2018年，水瓶座总体的运势会是你们感受到紧张气息的一年，不少水瓶座可能在过去的时光里历经生活给予的波折，你们在不断地尝试不断地失败中徘徊，也吸取到了不少的经验，因此这一年你们对于任何事情都抱有谨慎的态度，你们会认真审视生活中所有问题，当然这也导致你们情绪和思想方面容易走向极端，容易钻牛角尖，也可能会为了达到自己的目的用不同的手段。水瓶座如果想化解2018年各个方面带来的压力，除了要懂得调节自身情绪外，更多的还需借助开运手链，可助水瓶座佩戴者静心凝神，稳妥对待每件事情的发生，轻松化解各种突发考验，助旺2018年事业健康财运爱情更加顺遂无忧。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>5</string>
			<key>fortune</key>
			<string>5</string>
			<key>health</key>
			<string>4</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>5</string>
		</dict>
		<key>fortune</key>
		<string>2018年，水瓶座的财运并不会十分稳定，虽然你们一直都有收入，但是花出去的也会有很多，容易造成收支不平衡的局面，不少花销也会是你们迷迷糊糊所造成，但好在今年大部分水瓶也并不缺乏自制力，你们会努力稳定当下的财运状况，理性分析，不少水瓶也可能会把钱花在提升自我或是旅行方面。</string>
		<key>love</key>
		<string>2018年，水瓶座的爱情运势并非想象中的那么顺利，由于今年不少水瓶座会关注现实生活、事业的事情比较多，可能对于感情没有那么多耐心，感情上会出现不少的难题，有伴的人可能和伴侣会有生活方式意见上的不和，你们会发现无法再适应彼此，也会拒绝和对方沟通交流，不少人也容易坚持不下去。</string>
		<key>work</key>
		<string>2018年，水瓶座的事业会迎来一个大丰收，这一年是你们庆祝事业丰收的一年，当然一切成功都是来之不易的，在这一年当中你们的事业也会有不少挑战，可能会让你们失去信心，也会容易迷失自己前行的方向，不少人可能会担忧自己事业上的很多问题，这些问题的阴影会一直困扰着你们，也会拖住你们行动的动力，你们可能心里有很多想实现的计划，就是不敢冲动行事，但好在你们今年步步为营，稳健行事会有很大成功。</string>
		<key>health</key>
		<string>2018年，水瓶座的健康运势看起来并不会十分稳定，虽然你们有注意自己的健康问题，但是不少人可能由于工作方面的事情太多，对自己的健康状况还是会有忽略，今年不少水平也会经历身体健康方面的挑战，可能会有一些慢慢显现的疾病，让你觉得会压力比较大。</string>
		<key>lucky</key>
		<string>9</string>
		<key>color</key>
		<string>青</string>
		<key>xingzuo</key>
		<string>双鱼座</string>
	</dict>
	<key>摩羯座</key>
	<dict>
		<key>english</key>
		<string>capricorn</string>
		<key>synthesize</key>
		<string>2018年，摩羯座的运势可谓先苦后甜，2018年初期不少摩羯座可能会饱尝内心煎熬的滋味，你们可能会感受到外在的很多压力，你们自身也会给予自己不少压力，会逼迫自己在很多事情上做的优秀，但是同时你们自己会非常难受，今年初期时候不少摩羯会面临挫折和挑战，但是在经历过这一切之后你们的运势又会有全新的开始，你们会抛弃过往老旧的一切，认真努力，当然你们所付出的一切也会迎来一个强有力的收获，付出多收便获得多少，一切都是值得的。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>4</string>
			<key>fortune</key>
			<string>3</string>
			<key>health</key>
			<string>4</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>4</string>
		</dict>
		<key>fortune</key>
		<string>2018年，摩羯座的财运会有所回升，今年会是你们财运大丰收的一年，不少人可能会受到别人的帮助，如果有合伙做生意的也会借助此助力获得金钱上的回报，财运上的贵人运也是满满的，同时你们对于金钱上的动力会非常强，欲望非凡，这些驱动力会让你们做出很多努力。</string>
		<key>love</key>
		<string>2018年，摩羯座的爱情并非想象的那么顺利，不少人可能感情上会存在一些谎言和欺骗，感情上一些事情容易让你们失去信心，有伴的人会觉得现有的感情状况太过于稳定平淡，外界会存在更多的吸引力和诱惑，因而不少摩羯座内心会产生动摇，不少人可能会在感情上做一个选择。这一年你们会发现感情上的满足感不知道去了哪里，也有一部分人会下定决心离开一段不值得的感情。外界诱惑太多，内心再坚定也难免一时失手，对于摩羯座来说，2018年最需要的是手链，能够帮助摩羯座获得美好爱情，抵挡第三者侵害，稳固情侣或是夫妻感情发展。</string>
		<key>work</key>
		<string>2018年，摩羯座在事业上会面临重大的转折，这一年你们容易在事业上犯迷糊，而且思想或者做法容易走极端，不容易找到平衡点，由于过去事业上有过一些成功，你们可能觉得自己沿用过去的方式也可以继续获得成功，然而今年整体大环境会有一些变化，土星落在摩羯座，你们会在事业上接受考验和磨炼，这一切也在提醒你们，不要再用过去你自以为成功的方式来经营事业，人生的发展道路变幻莫测，要随大流来调整自己的目标和经营策略，当然在经过一次大调整之后，也有不少摩羯会获得事业上的小成就。</string>
		<key>health</key>
		<string>2018年，摩羯座的健康运势会一次大考验，不少摩羯在今年可能会有一些突发的疾病困扰，而这些突发的疾病乍看是突然降临，实则是你们长期劳累不注意保护而出现的，因此不少人在这一次经历中可能会重视起自己的健康问题，当然也有不少人有花钱进出医院治疗，大部分摩羯也要注意内分泌的问题以及上火发炎。</string>
		<key>lucky</key>
		<string>5</string>
		<key>color</key>
		<string>紫</string>
		<key>xingzuo</key>
		<string>巨蟹座</string>
	</dict>
	<key>射手座</key>
	<dict>
		<key>english</key>
		<string>sagittarius</string>
		<key>synthesize</key>
		<string>2018年，射手座的总体运势会进展得比较迟缓，今年尤其要注意人际上的问题，不少射手座可能在人际交往当中会遭遇一些挫折，可能由于竞争或是利益的问题，你会和一些人有一些不愉快的冲突，在生活当中也不乏有意为难你的人，当然这一年大部分射手的心态并不会太平和，你们可能太急于追求自己的目标，而使得自己会显得有些急功近利，可能不会太顾及到身边的人的想法，不少人脾气也会有些冲动，没有太多耐心。上半年时候，人际上的冲突会时而不时地发生，但在下半年时候，一切又会好转。面对未知的灾害，射手座若想最大程度降低风险，需要一款最适合的开运物佩戴，驱邪避害，化解小人陷害，抓住工作机遇，事业蓝图得到拓展，助你2018年各方面运势都得到拓展，心想事成。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>3</string>
			<key>fortune</key>
			<string>4</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>3</string>
			<key>work</key>
			<string>3</string>
		</dict>
		<key>fortune</key>
		<string>2018年，射手座的财运状况会有所提升这一年你们对于赚钱的欲望和野心会非常充足，行动力也是满满的，可能你们会想到什么事情就马上开始展开计划和行动，因此你们也会收获不小哦，财务方面的压力冲突虽然存在，但是相对于以往会少了很多，不少人也会开始计划用钱去做一次远途旅行，或者是花销于家居方面比较多，更多的也会来取悦自己。</string>
		<key>love</key>
		<string>2018年，射手座的爱情会有新的突破，这一年射手座在爱情上的态度更为理想化，你们可能会在感情上有突破以往不同的行为方式，或是思想会有一些不同于以往的提升，今年初期不少人可能会备受感情上的煎熬，感觉到不自由无法做自己，因此在今年中期时候射手座们决心抛开所有束缚住自己的东西，大胆在感情上寻找新的出路，打破所有的限制。单身的射手也会遇到新的桃花，然而你们可能并不会太在意。</string>
		<key>work</key>
		<string>2018年，射手座的事业运势总体来说危机四伏，这一年事业上与你产生冲突的人会比较多，你会发现自己做的决定容易被反对驳回，也有人可能会对你使绊子，你们也容易对自己的事业失去信心，但也要注意的是，平稳自己的心态，切莫急功近利，想要达到更好的状态，你们还需要更多累积经验潜心学习，而不是维持这样漂浮的心态，计划的制定上还需要更贴合实际，虚心接受经验。</string>
		<key>health</key>
		<string>2018年，射手座的健康运势总体来说会呈现平稳状态，这一年你们的精力并不是非常旺盛，得闲的时候也喜欢休息调整，并不会做太多运动，当然这样也可能导致自己身材发福哦，饮食方面需要有所节制，当然这一年射手座们对于健康方面还是有一些担心的问题，你们可能会为此乱想很多，当你们在发现一些身体隐患时候，要记得快检查把根源问题清楚。</string>
		<key>lucky</key>
		<string>1</string>
		<key>color</key>
		<string>黄</string>
		<key>xingzuo</key>
		<string>狮子座</string>
	</dict>
	<key>天蝎座</key>
	<dict>
		<key>english</key>
		<string>scorpio</string>
		<key>synthesize</key>
		<string>2018年，天蝎座们显得有些跃跃欲试，你们在在新的一年会对未来有很多憧憬，由于在过去的一年里，天蝎座们承受了不小的压力，无论在哪个方面，你们可能会觉得备受煎熬，新年伊始，你们可能会渴望获得新生，希望能够换一个全新的自己。当然这一年天蝎座们心理上的负担和压力会有所减轻，事情也会有转机，但由于外在客观环境的限制，你们要挣扎会有一些无力，很多客观的事情也许你们努力到后面会发现比较难以改变，也会感觉到迷茫。上半年时候，部分天蝎可能还是会庸庸碌碌忙过大部分日子，心里也并没有太愉悦。但是下半年时候，你们这样的状态会有所改善，生活开始有了方向和目标。天蝎座在压力不断的年份里，需要做到的就是不断提升运势，佛珠手链正是针对天蝎座流年运势中的不利格局设计而成，缺什么补什么，可轻松化解事业感情障碍，驱除自身负能量，提升运势，一切风险皆能化险为夷，生活无忧。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>4</string>
			<key>fortune</key>
			<string>4</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>3</string>
		</dict>
		<key>fortune</key>
		<string>2018年，天蝎座的财运会有所好转，但是也仍旧充斥着不小的压力，你们在财务上的规划还是没有一个明确的目标，不过部分人也会有勇气战胜现在的困难，你们会积极寻求转变的方法，好在今年会有一些贵人出现帮助你们改善现在的财务状况，你们可能会学到许多不错的经验，不管是投资还是理财方面，需要珍惜这些机会。不少天蝎在今年财务上也会变得饱受许多。</string>
		<key>love</key>
		<string>2018年，天蝎座的爱情会迎来好转和改变，不少人在过去的一年里，感情经历过不少重大的挫折转变，很多天蝎可能会经历这种痛苦，也会受到心灵上的折磨，很多人会觉得比较煎熬，去年冥王星逆行会给予守护的天蝎座这样的重大体验，然而今年天蝎们会迎来新的春天，经历过重生的你们对感情又拥有不同的感悟，你们会更明白自己需要什么样的爱情，当然今年你们如愿以偿，不少人会找到那个真正与自己心意相通的人，会走到你身边。</string>
		<key>work</key>
		<string>2018年，天蝎座在事业上会摆脱过去漂浮不定的状态，你们会正视自己事业上的很多事实，如果在过去你们还对事业上抱有一些虚无的幻想，那么今年你们的这些幻想会被打破，土星摩羯会告诉你们，对待事业需要务实认真的态度，急于求成并不会有任何好后果，不少天蝎如果在这一年没有好好为自己的事业付出，那么会受到土星的考验和制约，不过好在不少人也具备不少能力，也会十分优秀，而这部分人虽然事业面临考验，也会有一些动荡，但是最终也会脱颖而出。</string>
		<key>health</key>
		<string>2018年，天蝎座的健康运势在慢慢回升，但还是有不少人可能会继续受到一些身体上长久累积的疾病困扰，但不管怎么说，今年你们的健康会有好转的可能，只是这个过程可能并不短暂，需要长时间的调养，今年不少人也会花钱在身体健康保养这一方面，你们会寻找各种恢复健康的办法，但是要注意最基本的养生规则。</string>
		<key>lucky</key>
		<string>6</string>
		<key>color</key>
		<string>橙</string>
		<key>xingzuo</key>
		<string>水瓶座</string>
	</dict>
	<key>天秤座</key>
	<dict>
		<key>english</key>
		<string>libra</string>
		<key>synthesize</key>
		<string>2018年，天秤座的整体运势重心全在现实生活的事情当中，今年事业、学习、生活上的发展和深造将会是你们的重点，今年不少天秤可能在这些事情上可能会十分卖力，会努力付出自己的大部分精力到其中，你们可能会进行大量的研究和学习，想要在今年一展宏图，当然这一年也不会负你你们所望，最终是有不少收获的，但是总体来说还是有那么一些欠缺和不完美，如果涉及到合作共事的天秤，可能需要注意下人际之间的互动和平衡，避免过度自我，还是需要考虑其他人的感受而不是一意孤行，今年大部分天秤的脾气并不是太好，也会容易冲动暴躁，这是需要克制的地方。天秤座面对本年偶尔出现的不完美或欠缺时，还需要多提高自身应变能力，从而提升整年运势发展，护身符吊坠则是你的不二法宝，融合天秤座流年运势及星象特点的护身符，格外庇佑天秤座的健康与好运，可助其提升贵人运，驱除负能量，提升个人交际能力，最终达到自己的小目标。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>3</string>
			<key>fortune</key>
			<string>3</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>2</string>
			<key>work</key>
			<string>3</string>
		</dict>
		<key>fortune</key>
		<string>2018年天秤座的财运总体来说会呈上升趋势，如果在过去你们的财务状况不佳，会有很多不断产生的矛盾冲突，也许你会觉得财运无人帮助，那么在这一年你可以稍稍松口气，今年大部分天秤的财务冲突会减小，但是要警惕的是，这些冲突并没有完全消失，不少人注意到的是平衡自己，不会再盲目地进行财务上的规划，同时这一年贵人运也不错，也会帮助到你们的财运。</string>
		<key>love</key>
		<string>2018年，天秤座的爱情运势总是伴随着惊喜和困惑，惊喜的是感情上出现了一些你没有预料到的转折，也许过去你们的感情充斥着无聊困倦，甚至你无数次质问自己，这是否是自己想要的，也许你知道这一切并不是自己真正想要的，然而这一年一切都会改变，感情上会出现令你期待的事情，不少人会重获感情上的激情和信心，然而伴随于此的将会是不少心里的压力，你会害怕再次失去这样的感觉，因此会摇摆不定，内心会有矛盾冲突。</string>
		<key>work</key>
		<string>2018年，天秤座的事业运势总体来说相对于上一年会有些好转，也许你们过去在事业上起起落落，会有不少波折，也有一些人可能失去了一些珍贵的机会，可能你会为过去某件事情没有完成而感觉到遗憾，也会一度沉浸在这种缺憾里感到自责，但是在今年，不少天秤座打算重新平复心态，重新出发。不少天秤座在这一年可能会调整自己在事业上的行事风格，事业上的环境也会有变化，你们可能会离开一些让你们不满意已久的环境重新开始，但不管怎么说，这次的选择是让你们愉悦的。</string>
		<key>health</key>
		<string>2018年，天秤座的健康运势总体来说会比较不错，这一年良好的身体精力会有助于你在其他领域的发挥，这一年你们会对自己的健康状况比较满意，你们在这一年更多的是学会放松自己，取悦自己，身体的健康并不仅仅只是外在的，内心的健康也同样重要，你们深知这一点，因此在工作学习之余，你们也会注意让自己放松。</string>
		<key>lucky</key>
		<string>4</string>
		<key>color</key>
		<string>蓝</string>
		<key>xingzuo</key>
		<string>金牛座</string>
	</dict>
	<key>处女座</key>
	<dict>
		<key>english</key>
		<string>virgo</string>
		<key>synthesize</key>
		<string>2018年，处女座总体的运势会非常不错，这一年你们的个人魅力会有所提升，会发现身边很多好运都被你们吸引而来，当然这一切源于你们不懈的努力，将自己的才智、创意转化为行动，因而这一年会是你们发挥创造力的一年，你所想的任何事情都会落实于行动发挥出来，贵人运也会非常不错，总是会有主动要求帮助你们的人，无论从哪方面来说你们都会比较满意。当然也要注意的是，树大招风，总是有一些心怀不轨的小人会妒忌你的优秀，对你造成阻碍。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>3</string>
			<key>fortune</key>
			<string>3</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>3</string>
		</dict>
		<key>fortune</key>
		<string>　2018年处女座的财务状况会有所下滑，今年你们在金钱的规划上会过于理想化，也许会觉得自己并不会缺钱花，但是实际上你们的财务基础并不是太好，部分人也可能在财务上会容易走极端，可能一下会非常节省，但是过一段时间花钱会如流水，今年大部分处女座不适宜做大宗买卖或者投资项目，今年你们会缺乏这方面的逻辑分析能力，很容易可能会造成损失。赚钱方面，如果有了合理的想法，一定要好好坚持，而不是凭一时冲动去执行。处女座若想避免财运危机出现，还需佩戴手链改善暴脾气，沉淀思绪，亦能辟邪吸收负能量，长久佩戴可助处女座守护财富，牢牢掌握住手中的钱财，投资亦能有所收获，扭转不利局面。</string>
		<key>love</key>
		<string>2018年，处女座在爱情上可能想要转变自己的态度，感情上很多事情会然呢觉得有些失望或是不可忍受，那么这一年你们可能会想要摆脱目前感情上带来的束缚，你们可能会经历失望动摇，徘徊选择，也会失去信心，但是最终不少人可能会考虑改变感情上的发展模式，有一次突破。单身的人也会不想再一人独守，可能会有想要恋爱的冲动，但是不少人可能会在桃花中选择，也有人可能会对感情上的追逐不是很有信心。</string>
		<key>work</key>
		<string>2018年，处女座的事业运势总算也是守得云开见月明，过去在事业上的困境和阴影也算去除，今年你们在事业上的运气总体来说会比较不错，基本上随处可见阳光，当然这是在大部分的情况下，还是会有一些时候你们的事业会有一些难以突破的阻碍，如果你们在着手准备某事，并且希望其可以发展得更好，甚至愿望成真，那么今年可能还不是最好的时机，这一切并非你所能掌控，你所能做的就是好好沉淀累积，适时的时候再抓住机会好好发展。但无论如何，今年的收获会让你很满意。</string>
		<key>health</key>
		<string>2018年，处女座的健康运势总体来说还算比较稳定，虽然你们偶尔犯懒不想好好照顾自己的身体，也会有粗心的时候，但是总的来说，今年你们的身体活力状况也会比较不错，但是要注意的是在身体比较疲劳的时候要注意适当休息，而不是继续强撑下去，拖延着健康，或是熬着身体不处理好一些隐性疾病问题会造成后续不少的麻烦，因此需要平衡规划。</string>
		<key>lucky</key>
		<string>8</string>
		<key>color</key>
		<string>灰</string>
		<key>xingzuo</key>
		<string>白羊座</string>
	</dict>
	<key>狮子座</key>
	<dict>
		<key>english</key>
		<string>leo</string>
		<key>synthesize</key>
		<string>2018年，狮子座的整体运势并不会显得十分理想，这一年会是你们“梦幻”的一年，大部分人会有很多计划和目标，这一年外界会出现许多新的事物和机会，无论是生活、事业还是感情上，你们会被这些事物所迷惑，觉得大部分东西都好，但是分辨不了真假，也不知道哪一个会很适合自己，你们会不断徘徊在各种选择之间，当然由于现实上的事情很多，你们承受着不小的压力，自然对未来会萌生不少愿望和憧憬，但不管怎么说还是要回归到现实，所幸的是，这样的情况会在下半年有所缓解。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>3</string>
			<key>fortune</key>
			<string>3</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>3</string>
			<key>work</key>
			<string>4</string>
		</dict>
		<key>fortune</key>
		<string>2018年，狮子座的财运并不会显得十分理想，这一年你们赚钱的动力可能会有所减弱，因此在赚钱方面并不会有太多的收获，花费方面也不会太少，虽然你们有心要存款，也告诉自己要保守行事，但是财务上的压力还是会比较大，也容易不会经受诱惑就去花掉一些不必要的钱。部分人在这一年财务上会经历一些突如其来的转变，可能也有一些损失，一切以保守为主。</string>
		<key>love</key>
		<string>2018年，狮子座的爱情运势整体来说并不是那么稳定，这一年不少人在感情上的心态会比较起伏不稳定，发生的很多事情让你对感情失去了信心也十分没有把握，你甚至也不知道自己是否真的喜欢对方，因此这一年不少狮子座可能会有想放弃目前感情关系的想法。单身的狮子则是会在多个人选之间徘徊，你会觉得这些桃花都不太合适你，甚至没有足够的稳定感。狮子座若想在2018年里时刻获得爱情滋润，还需要寻得一款旺桃花促个人魅力神器庇佑，福袋吊坠正是你的不二之选，旺桃花助爱情，长期佩戴可使狮子座面色红润，气质焕发，娇媚动人，增强异性缘，获得一段令人称羡的爱情。</string>
		<key>work</key>
		<string>2018年，狮子座的事业运势会接受到挑战，不少人这一年容易措施不少机会，你们会沉浸在自己天真烂漫的幻想居多，但是可能实际作出的行动、付出的努力会比较少，不少人可能觉得：我现在这样做已经很好了，然而实际上并不是你想的这样，这一年也要注意的是事业上容易出现一些干扰你的人。由于这些因素出现，可能会导致你事业上某些计划进展不是特别顺利。</string>
		<key>health</key>
		<string>2018年狮子座的健康运势有所下滑，这一年你们要注意的是生活各方面要有所平衡，不少人由于生活迷茫也容易失去信心，对自己的把控力并不是很好，不少人要注意的是远行时候的安全问题。平时的生活作息可能也会不规律，这会极大的影响到你的健康，在饮食方面要有所控制，适时的时间做正确的事情，生活的低迷不要紧，最重要的是爱惜自己。</string>
		<key>lucky</key>
		<string>1</string>
		<key>color</key>
		<string>白</string>
		<key>xingzuo</key>
		<string>天蝎座</string>
	</dict>
	<key>巨蟹座</key>
	<dict>
		<key>english</key>
		<string>cancer</string>
		<key>synthesize</key>
		<string>2018年，巨蟹座的整体运势会来一个大翻转，总体来说过去一年如果还感觉运势低迷的同学，今年可要偷笑了，今年巨蟹座的运势会非常不错，尽管不少人可能还处于一些过度期，很多事情还没有完全水到渠成，但一切只是时间的问题，只要这阵子过了，你们就会越来越好，但不管怎么说，巨蟹今年做的计划许的愿望是很容易实现的，今年可以说是天时地利人和，你们也足够努力。上半年时候，你们的贵人运会很不错，要好好把握，下半年时候，不少巨蟹会开始新的人生计划。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>4</string>
			<key>fortune</key>
			<string>3</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>3</string>
		</dict>
		<key>fortune</key>
		<string>2018年，巨蟹座的财务压力会比较大，但今年并非一直都是财务低迷的状态，有时候你们可能在赚钱上的动力十足，也会有一些人帮助你们的财运好转，但是这样的情况并不是时时都有，这一年财务上需要的支出会比较多，可能会让你压力有些大，会觉得有些难以承受住，要注意的是花销方面可能有些过于冲动，还是要精打细算，好好金星规划。</string>
		<key>love</key>
		<string>2018年，巨蟹座的爱情运势会逐渐开始脱离逃避平静，开始走向外界的时期，也许不少人过去在感情上遭遇一些打击，感情让你没有信心在去继续坚持或是信仰，那么这一年，你可能会重拾这些已经失去的东西，有伴的人可能和伴侣会达成感情上共同的目标，你们会做好自己明确的选择，并且为之努力。单身的人可能会考虑脱离宅或者自己独身的状态，去看看身边有没有可发展的机会，当然一切不会让你失望，自然会有合适的人等待着你。婚姻是每个人的终生大事，事关自己一生的幸福和后代香火的延续，但并非说出生好，长相好、事业佳或者付出真心就能获得美的姻缘，因为受到个人感情与流年运势影响，有一些人的感情道路不会很顺利，因此需要借助外力改变一下自己的感情运势，莲花粉水晶手链祈福巨蟹座的爱情运势得到提升，早日获得甜蜜爱情，沉浸在爱的怀抱，佩戴粉晶饰物在身，益于爱情运势。</string>
		<key>work</key>
		<string>2018年，巨蟹座的事业运势总体来说会很不错，你们会充分发挥自己的交际手腕，在事业上做出不少努力，相应的也会有不少收获，然而今年的事业运势也会有波澜起伏的时候，要注意的是在合作时候的交涉，不要完全亲信对方，对于各个方面都要认真核实，和可能会有一些不诚实的对你不公平的状况发生，看问题也需要冷静，而不是单方面去观察。这一年也有部分巨蟹的事业发展可能会有所拖延，导致你们会觉得自己的收获和付出不成正比，你们需要更多耐心。</string>
		<key>health</key>
		<string>2018年，巨蟹座的身体状况会有大大的好转和提升，不少人这一年里会更加注重自己的感受，你们的关注点会放在自己身上，特别是健康上，你们会关注自己的情绪是否愉悦，所做的事情是否有利于身体，因此你们会细心照料自己身体上的健康，不会再勉强自己去做一些让自己压力比较大的事情，因而这一年你们的健康运势也会得以提升，当然要再多一些运动那就会更好了。</string>
		<key>lucky</key>
		<string>9</string>
		<key>color</key>
		<string>黑</string>
		<key>xingzuo</key>
		<string>摩羯座</string>
	</dict>
	<key>双子座</key>
	<dict>
		<key>english</key>
		<string>gemini</string>
		<key>synthesize</key>
		<string>2018年，双子座的运势总体来说会好坏参半，不少人这一年关注的重点是人际关系以及情感关系，这一些关系总会给不少人带来许多困惑和迷茫，也许你们在过去经历过感情上的波折，因此今年大部分对于感情并不是很有把握和信心，你们更多的是会将自己隐藏起来，不愿意再在外人面前表现自己，而是显得比较安静，但所幸的是，这一年还是有不少人会遇到对自己有帮助的人，不管是朋友还是爱人，都会对你进行支持，当然这些关系并不会显得十分稳定。上半年时候，不少人可能会想突破以往的生活模式，换一个新的姿态生活，但是你的决定似乎有些不合时宜，下半年时候，不少双子会遭遇生活上的困境，可能会产生退缩的心理。2018年双子座受水逆影响，诸事动荡起伏，挑战极大，因而守护双子座的宝石最重要的是带来舒朗的心情，吊坠则具备此功效，可缓解心神，给你带来灵感与创新，作为你的正能量守护石守护你整年顺利安康。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>3</string>
			<key>fortune</key>
			<string>3</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>4</string>
		</dict>
		<key>fortune</key>
		<string>2018年，双子座在财运方面可能会经历重要的转变，这一年财务上压力会比较大，也会是你们重点担心的地方，你可能觉得钱总是不够用，没有获得足够的物质支持，不少人在财务状况上可能会打马虎眼，不想解决根源问题，然而这些问题积压到最后终究会爆发，你不得不去面对，这一年要注意的是财务上以保守为主，不要情绪性消费。上半年时候，不少双子在人际娱乐上的花销很多，不注意节制，下半年时候，不少人可能在财务上会迎来一个结果和转折，你们不得不面对过去财务问题留下的后患。</string>
		<key>love</key>
		<string>2018年，双子座在爱情上也会获得一些丰收，不少人可能会开始新的恋情，有伴的人可能在今年会考虑和伴侣在现实上进一步发展，这一年双子的感情关系虽然并不会十分浪漫刺激，但是会多了不少稳定的味道，不少人在过去感情上起起伏伏，但这一年，你们反而会静下心来认真经营自己的关系。上半年时候，双子的感情发展还不错，但仍旧有些让你遗憾不满的地方，下半年时候，要注意的是感情让你有些迷茫不知所措。</string>
		<key>work</key>
		<string>2018年，双子座整体的事业运势会更进一步有所改善，你们在过去一年里已经在事业上做了不少的努力，甚至获得了一些成就，这为之后的发展已经奠定了稳固的基础，而这一年，不少双子可能会想在事业上开展一些冒险的举动，因为这一年事业上可能会有不少新的机会，你们已经嗅到了这些味道，因此不少人可能会想大展身手一番，但也要注意你的决定可能会有点太冲动，并且你可能会为此投入不少金钱。上半年时候，双子在事业上会面临一些压力，你可能会有些处理不好，但下半年时候，你们已然适应了环境给予的压力，并且通过不懈的努力在事业上有一番成就。</string>
		<key>health</key>
		<string>2018年，双子座的健康运势显得并不是十分理想平时可能忙碌于赚钱等等而忽略了自己身体方面的问题，不过好在这一年双子们也有机会开始重审自己的健康问题，你们会开始好好照顾自己，对自己严格要求。但由于之前的问题太多，所以这一年不少双子的健康有些难以平衡。</string>
		<key>lucky</key>
		<string>3</string>
		<key>color</key>
		<string>粉</string>
		<key>xingzuo</key>
		<string>巨蟹座</string>
	</dict>
	<key>金牛座</key>
	<dict>
		<key>english</key>
		<string>taurus</string>
		<key>synthesize</key>
		<string>2018年，金牛座的运势开始有所回升好转，经历过过去动荡的一年，不少人经历过运势的低迷，可能经历过人际的变动，或者不愿再过低迷平稳的生活，你们这一年会开始正面迎接自己遇到的所有挑战，这一年你们会全力以赴，充分发挥自己的能力，当然这一年的挑战不会比上一年来的少，你可能也会遭遇一些直接的冲突，但好在你们会十分有勇气和毅力，会去正面迎接所有挑衅，虽然有时候会心烦，但也会有所收获，这一年不少人会继续投入学习提升自己。上半年时候，你们会开始计划很多事情，但下半年，可能由于生活反反复复重复同一些事情，让你们觉得有些无聊可能会有些偷懒开小差。2018年对于金牛座来说，最重要的是抓住良性变化，巧妙回避不良变化，审时度势，主动出击，采取缺什么补什么的理念，可为金牛座抵挡生活中的种种不顺，亦能为其旺盛运势的同时，增强事业机遇及爱情桃花的降临，2018定能事业爱情双丰收。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>4</string>
			<key>fortune</key>
			<string>4</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>4</string>
			<key>work</key>
			<string>4</string>
		</dict>
		<key>fortune</key>
		<string>2018年，金牛座整体的财运收获也会非常不错，这一年不少人会显得更加务实，你们可能不会再想一些虚无缥缈的事情，而是沉下心来赚钱，这一年不少人的偏财运也会很不错，你们可能也会受到很多人的帮助，人际运势也会产生助力，你们不少人也会收到别人赠予的礼物。上半年时候，金牛的财运总体来说很不错，让你们满意，但下半年要注意的是，可能花销会比较多，也有部分人投入的一些努力收效并没有想象中的那么大。</string>
		<key>love</key>
		<string>2018年，金牛座座的爱情运势同样也会有好转，这一年不少人对于感情的思索反而会比较多，你们总结自己在爱情上的所有经验，不管好的坏的，会站在更客观的立场上去看待这些问题，不少人和伴侣相处总体来说也会十分不错，这一年你们情感上的交流和沟通都很好，彼此互相认同，感情上的压力消失，不少人感情会新的阶段。单身者也会碰到合你心意的桃花，也可能会开始一段新的恋情。上半年时候，不少金牛感情上会有进展，下半年还算平稳，但不少人可能会觉得感情缺少了一些满足感。</string>
		<key>work</key>
		<string>2018年，金牛座的事业运会呈现直线上升的趋势，这一年不少金牛会一门心思扑在自己的事业上，做事也是严谨认真一丝不苟，无论是什么事情，你们都会严格要求自己，做好每一个细节，不少人也会重振信心开始认真学习有关于事业上的技能，这一年也有不少金牛会有事业上新的合作机会，或是接受到别人的帮助，因此你们的事业也会更上一层楼，不少金牛还会再事业上做一些重要的决定，不管如何做决定，这一切都会有助于你成长。上半年时候，金牛座的事业运势好转却没有完全起来，但到了下半年，你们将会迎接新的成功。</string>
		<key>health</key>
		<string>2018年，金牛座总体的健康运势会很不错，相对于之前你们的健康状况有了大大的改善，不少人这一年身体基础还是比较扎实，整体来说精力会非常不错，良好的体力也会支持你们去做不少事情，但是要注意的是，可能还有一些过去存留的小问题拖住你们的整体健康状况。上半年的时候，你们健康状态很不错，活力十足，下半年不少人可能要继续恢复一些隐性的小问题，但总体来说不会影响大状况。</string>
		<key>lucky</key>
		<string>5</string>
		<key>color</key>
		<string>红</string>
		<key>xingzuo</key>
		<string>射手座</string>
	</dict>
	<key>白羊座</key>
	<dict>
		<key>english</key>
		<string>aries</string>
		<key>synthesize</key>
		<string>2018年，白羊座会迎来激情四射的一年，这一年你们行动力满满，计划也会很多，不少白羊也会日益强大成熟起来，你们会为自己做很多规划，这也意味着你们压力满满。上半年时候，不少白羊意识到过去自己事业又或者是人际感情关系上的不足，所以下定决心好好积累学习，虽然阻碍依旧存在，但是你们会十分努力。下半年时候白羊们可能会容易敏感担忧，也会出现不自信的情况，竞争的激烈是必然存在的，但是你们依旧是优秀的，所以要给自己多鼓励多学习，总会有达成目标的哪一天。白羊座2018年主要欠缺的还是合适的时机，虽然机会很多，但总是离成功差一步，所以本年白羊座更需要的还是本款护你高升的白羊座护身符吊坠庇佑，吊坠融合白羊座2018年运势，缺什么补什么，可助白羊提升贵人运，事业得贵人相助，步步高升，感情得身边朋友助攻，顺利踏入爱河，一切都能顺风顺水，如意美满。</string>
		<key>score</key>
		<dict>
			<key>synthesize</key>
			<string>3</string>
			<key>fortune</key>
			<string>4</string>
			<key>health</key>
			<string>3</string>
			<key>love</key>
			<string>3</string>
			<key>work</key>
			<string>4</string>
		</dict>
		<key>fortune</key>
		<string>2018年，白羊座的财运总体来说会不错，这一年不少白羊可能会有合作上的机会，而这些机会为你带来不少财运，但是这一年总体来说财务压力会比较大，你可能会撑得比较吃力，也有不少人可能花钱会比较多，造成自己财务根基不稳。上半年时候这种情况尤其突出，但是下半年你们相对来说会变得比较保守。</string>
		<key>love</key>
		<string>2018年，白羊座的爱情看起来并不会显得一帆风顺，这一年不少人也会遇到桃花，也有人会开始新的感情，但是看起来感情上沟通方面会是问题，彼此可能会有诸多误解，你们会发现彼此不在同一个高度上，因此也会有疏远的可能，部分人可能会在两个感情之间有所选择，还要注意隐藏的感情敌人可能会影响感情。单身者则要注意，今天会遇到一些质量不是很好的桃花。感情的风波要注意上半年，但是下半年感情运势可能会有所好转。</string>
		<key>work</key>
		<string>2018年，白羊座的事业会有闪闪发光开辟新领域的机会，经过过去一年多的经验累积，这一年你已经具备了很多不错的技能，因此这一年你们也会利用这些技能优势来发展你的事业，也可谓是比较风生水起，不少白羊这一年可能有离职换新工作的可能，或是自己开始发展新的事业不再与之前的人合作，但不管怎么说都是有利于你们的决定。上半年时候，你们的事业进展顺利，也会有贵人相助，下半年延续上半年的平稳，但是你们还是会遇到一些让你们困扰的难题。</string>
		<key>health</key>
		<string>2018年，白羊座的健康运势会有所回升，但是还会延续过去一年的健康状况，虽然压力有所减小，但是你们由于比较劳累，或是经常熬夜不注意休息睡眠，还是会引起不少问题，部分人这一年要注意的是皮肤上的问题，或者牙齿也容易有问题。上半年时候，你们的健康还是不太稳定。但好在下半年，不少人会学习开始保养自己，所以健康上还不错。</string>
		<key>lucky</key>
		<string>2</string>
		<key>color</key>
		<string>绿</string>
		<key>xingzuo</key>
		<string>天秤座</string>
	</dict>
</dict>
</plist>
