<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>常用</string>
		<key>detail</key>
		<array>
			<string>结婚</string>
			<string>入宅</string>
			<string>搬家</string>
			<string>开市</string>
			<string>装修</string>
			<string>出行</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>婚姻</string>
		<key>detail</key>
		<array>
			<string>结婚</string>
			<string>嫁娶</string>
			<string>纳采</string>
			<string>问名</string>
			<string>裁衣</string>
			<string>安床</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>生活</string>
		<key>detail</key>
		<array>
			<string>会亲友</string>
			<string>冠笄</string>
			<string>入学</string>
			<string>出行</string>
			<string>进人口</string>
			<string>移徙</string>
			<string>解除</string>
			<string>剃头</string>
			<string>整手足甲</string>
			<string>求医疗病</string>
			<string>鼓铸</string>
			<string>疗目</string>
			<string>捕捉</string>
			<string>栽种</string>
			<string>畋猎</string>
			<string>纳畜</string>
			<string>远回</string>
			<string>渡水</string>
			<string>经络</string>
			<string>酝酿</string>
			<string>苫盖</string>
			<string>安碓硙</string>
			<string>乘船</string>
			<string>伐木</string>
			<string>牧养</string>
			<string>扫舍宇</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>工商</string>
		<key>detail</key>
		<array>
			<string>上官赴任</string>
			<string>开市</string>
			<string>立券交易</string>
			<string>纳财</string>
			<string>开仓库</string>
			<string>取鱼</string>
			<string>出货财</string>
			<string>上册受封</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>建筑</string>
		<key>detail</key>
		<array>
			<string>修造</string>
			<string>动土</string>
			<string>竖柱</string>
			<string>上梁</string>
			<string>修仓库</string>
			<string>修置产室</string>
			<string>开渠</string>
			<string>穿井</string>
			<string>补垣塞穴</string>
			<string>破屋坏垣</string>
			<string>平治道涂</string>
			<string>修饰垣墙</string>
			<string>筑堤防</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>祭祀</string>
		<key>detail</key>
		<array>
			<string>祭祀</string>
			<string>祈福</string>
			<string>求嗣</string>
			<string>安葬</string>
			<string>破土</string>
			<string>沐浴</string>
			<string>斋醮</string>
			<string>启攒</string>
		</array>
	</dict>
</array>
</plist>
