<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>甲</string>
	<string>乙</string>
	<string>丙</string>
	<string>丁</string>
	<string>戊</string>
	<string>己</string>
	<string>庚</string>
	<string>辛</string>
	<string>壬</string>
	<string>癸</string>
</array>
</plist>
