<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>23:00-00:59</string>
		<key>name</key>
		<string>子</string>
	</dict>
	<dict>
		<key>time</key>
		<string>01:00-02:59</string>
		<key>name</key>
		<string>丑</string>
	</dict>
	<dict>
		<key>time</key>
		<string>03:00-04:59</string>
		<key>name</key>
		<string>寅</string>
	</dict>
	<dict>
		<key>time</key>
		<string>05:00-06:59</string>
		<key>name</key>
		<string>卯</string>
	</dict>
	<dict>
		<key>time</key>
		<string>07:00-08:59</string>
		<key>name</key>
		<string>辰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>09:00-10:59</string>
		<key>name</key>
		<string>巳</string>
	</dict>
	<dict>
		<key>time</key>
		<string>11:00-12:59</string>
		<key>name</key>
		<string>午</string>
	</dict>
	<dict>
		<key>time</key>
		<string>13:00-14:59</string>
		<key>name</key>
		<string>未</string>
	</dict>
	<dict>
		<key>time</key>
		<string>15:00-16:59</string>
		<key>name</key>
		<string>申</string>
	</dict>
	<dict>
		<key>time</key>
		<string>17:00-18:59</string>
		<key>name</key>
		<string>酉</string>
	</dict>
	<dict>
		<key>time</key>
		<string>19:00-20:59</string>
		<key>name</key>
		<string>戌</string>
	</dict>
	<dict>
		<key>time</key>
		<string>21:00-22:59</string>
		<key>name</key>
		<string>亥</string>
	</dict>
</array>
</plist>
