<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   jianchudetail.plist
   TXNewCalendar

   Created by shaokai lin on 2018/3/5.
   Copyright (c) 2018年 厦门集网文化传播有限公司. All rights reserved.
-->
<plist version="1.0">
    <dict><key>建</key><string>万物生育、强健、健壮的日子。</string><key>除</key><string>扫除恶煞、去旧迎新的日子。</string><key>满</key><string>丰收、美满、天帝宝库积满的日子。</string><key>平</key><string>平常、官人集合平分的日子。</string><key>定</key><string>安定、平常、天帝众客定座的日子。</string><key>执</key><string>执日之从神，曰小耗，天帝执行万物赐天福，较差的日子。</string><key>破</key><string>日月相冲，曰大耗，斗柄相冲相向必破坏的日子，大事不宜。</string><key>危</key><string>危机、危险，诸事不宜的日子。</string><key>闭</key><string>十二建中最后一日，关闭、收藏、天地阴阳闭寒的日子。</string><key>成</key><string>成功、天帝纪万物成就的大吉日子，凡事皆顺。</string><key>收</key><string>收成、收获，天帝宝库收纳的日子。</string><key>开</key><string>开始、开展的日子。</string></dict>
</plist>
