<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>fortune_0</string>
		<key>url</key>
		<string>https://www.6669667.com/xmpeidui/?spread=bzsgapp</string>
		<key>title</key>
		<string>你和TA的姻缘配对如何？</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_1</string>
		<key>url</key>
		<string>https://www.6669667.com/bazicy/?spread=bzsgapp</string>
		<key>title</key>
		<string>新年财运走势早知道</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_2</string>
		<key>url</key>
		<string>https://www.6669667.com/xmcaqy/?spread=bzsgapp</string>
		<key>title</key>
		<string>立即解开您的爱情密码</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_3</string>
		<key>url</key>
		<string>https://www.6669667.com/ziweidoushu/?spread=bzsgapp</string>
		<key>title</key>
		<string>专业命格详批</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_4</string>
		<key>url</key>
		<string>https://www.6669667.com/bzzsy/?spread=bzsgapp</string>
		<key>title</key>
		<string>人生起伏 尽在掌握</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_5</string>
		<key>url</key>
		<string>https://www.6669667.com/liunian2018/?spread=bzsgapp</string>
		<key>title</key>
		<string>2018年运势详批</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_6</string>
		<key>url</key>
		<string>https://www.6669667.com/bazijingpi/?spread=bzsgapp</string>
		<key>title</key>
		<string>洞悉人生 解密秘未来</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fortune_7</string>
		<key>url</key>
		<string>https://www.6669667.com/bazihehun/?spread=bzsgapp</string>
		<key>title</key>
		<string>换庚帖 合八字 测姻缘</string>
	</dict>
</array>
</plist>
