<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>51</key>
	<array>
		<dict>
			<key>image</key>
			<string>banner_0</string>
			<key>url</key>
			<string>https://www.6669667.com/bazicy/?spread=bzsgapp</string>
			<key>title</key>
			<string>八字财运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>banner_1</string>
			<key>url</key>
			<string>https://www.6669667.com/bazihehun/?spread=bzsgapp</string>
			<key>title</key>
			<string>八字合婚</string>
		</dict>
		<dict>
			<key>image</key>
			<string>banner_2</string>
			<key>url</key>
			<string>https://www.6669667.com/bazijingpi/?spread=bzsgapp</string>
			<key>title</key>
			<string>八字精批</string>
		</dict>
		<dict>
			<key>image</key>
			<string>banner_3</string>
			<key>url</key>
			<string>https://www.6669667.com/yunyincs/?spread=bzsgapp</string>
			<key>title</key>
			<string>姻缘分析</string>
		</dict>
	</array>
	<key>52</key>
	<array>
		<dict>
			<key>image</key>
			<string>navi_0</string>
			<key>url</key>
			<string>https://www.6669667.com/bazijingpi/?spread=bzsgapp</string>
			<key>title</key>
			<string>八字精批</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_1</string>
			<key>url</key>
			<string>https://www.6669667.com/bazihehun/?spread=bzsgapp</string>
			<key>title</key>
			<string>八字合婚</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_2</string>
			<key>url</key>
			<string>https://www.6669667.com/liunian2018/?spread=bzsgapp</string>
			<key>title</key>
			<string>运势详批</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_3</string>
			<key>url</key>
			<string>https://www.6669667.com/liunian2018/?spread=bzsgapp</string>
			<key>title</key>
			<string>紫微斗数</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_4</string>
			<key>url</key>
			<string>https://www.6669667.com/bazicy/?spread=bzsgapp</string>
			<key>title</key>
			<string>八字财运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_5</string>
			<key>url</key>
			<string>https://www.6669667.com/bzzsy/?spread=bzsgapp</string>
			<key>title</key>
			<string>测终身运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_6</string>
			<key>url</key>
			<string>https://www.6669667.com/bazisyy/?spread=bzsgapp</string>
			<key>title</key>
			<string>测事业运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>navi_7</string>
			<key>url</key>
			<string>https://www.6669667.com/jieming/?spread=bzsgapp</string>
			<key>title</key>
			<string>姓名详批</string>
		</dict>
	</array>
	<key>53</key>
	<array>
		<dict>
			<key>image</key>
			<string>hot_0</string>
			<key>url</key>
			<string>https://www.6669667.com/jiehunjiri/?spread=bzsgapp</string>
			<key>title</key>
			<string>结婚吉日</string>
		</dict>
		<dict>
			<key>image</key>
			<string>hot_1</string>
			<key>url</key>
			<string>https://www.6669667.com/taohua/?spread=bzsgapp</string>
			<key>title</key>
			<string>恋爱桃花运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>hot_2</string>
			<key>url</key>
			<string>https://www.6669667.com/baobaoqm/?spread=bzsgapp</string>
			<key>title</key>
			<string>起名改名</string>
		</dict>
		<dict>
			<key>image</key>
			<string>hot_3</string>
			<key>url</key>
			<string>https://www.6669667.com/huanxiyuanjia/?spread=bzsgapp</string>
			<key>title</key>
			<string>姻缘走势</string>
		</dict>
		<dict>
			<key>image</key>
			<string>hot_4</string>
			<key>url</key>
			<string>https://www.6669667.com/shengxiao2018?spread=bzsgapp</string>
			<key>title</key>
			<string>生肖运程</string>
		</dict>
	</array>
	<key>54</key>
	<array>
		<dict>
			<key>image</key>
			<string>good_0</string>
			<key>url</key>
			<string>https://www.6669667.com/shiniandy/?spread=bzsgapp</string>
			<key>title</key>
			<string>十年大运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>good_1</string>
			<key>url</key>
			<string>https://www.6669667.com/taluopai/?spread=bzsgapp</string>
			<key>title</key>
			<string>塔罗牌占卜</string>
		</dict>
		<dict>
			<key>image</key>
			<string>good_2</string>
			<key>url</key>
			<string>https://www.6669667.com/zhuiaimj/?spread=bzsgapp</string>
			<key>title</key>
			<string>追爱秘籍</string>
		</dict>
		<dict>
			<key>image</key>
			<string>good_3</string>
			<key>url</key>
			<string>https://www.6669667.com/aiqingddp/?spread=bzsgapp</string>
			<key>title</key>
			<string>缘分测试</string>
		</dict>
	</array>
	<key>55</key>
	<array>
		<dict>
			<key>image</key>
			<string>all_0</string>
			<key>url</key>
			<string>https://www.6669667.com/ziweicaiyun/?spread=bzsgapp</string>
			<key>title</key>
			<string>紫薇财运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>all_1</string>
			<key>url</key>
			<string>https://www.6669667.com/xmcaqy/?spread=bzsgapp</string>
			<key>title</key>
			<string>测爱情运</string>
		</dict>
		<dict>
			<key>image</key>
			<string>all_2</string>
			<key>url</key>
			<string>https://www.6669667.com/zcyunshi/?spread=bzsgapp</string>
			<key>title</key>
			<string>职场详解</string>
		</dict>
		<dict>
			<key>image</key>
			<string>all_3</string>
			<key>url</key>
			<string>https://www.6669667.com/xingzuopd/?spread=bzsgapp</string>
			<key>title</key>
			<string>星座配对</string>
		</dict>
	</array>
</dict>
</plist>
